[2011-04-24 21:19] tj opened #1 "handle errors"

[2011-04-24 21:32] masylum opened #2 "Consider using timestamps instead of migration numbers"
I remember when RoR migrations were using numbers instead of timestamps and it was a mess.

Bob: creates migration `1-do-nasty-stuff`
Alice: creates migration `1-remove-foo`
Richard: pulls Bob's and Alice's changes. Pain.

[2011-05-31 16:23] kishorenc opened #3 "Down migrate incrementally"
It would be useful to have an option to migrate down or up incrementally, with the ability to specify the migration to go to. For example, say I have 15 migrations, and would need to rollback the last two migrations, I can just say something like:

e.g. `migrate down 12-migration-title.js`

Right now, `migrate down` cascades all the way till all down migrations are done.

[2011-11-06 01:30] sjonnet19 opened #6 "Support for 0.6.0"
I don't want to cause more work for you but, migrate and a few others are not supporting 0.6.0. I know it was just released; take your time. I just wanted to create issues. If you want I can fork and help with the migrations.

[2011-12-13 01:38] #3 closed, assigned to nobody

[2012-02-20 16:04] pselden opened #10 "Only run one down migration by default."
It seems like it would be a more sensible default to only run the most recent "down" migration when running "migrate down". Perhaps I just haven't thought enough into this, but I don't know a time when I would _ever_ want to run a full teardown. It would seem to be much more reasonable just to roll back the most recent migration when running "migrate down", and maybe have a new keyword when you wa

[2012-06-27 15:35] c4milo opened #13 "Feature Request: make node-migrate aware of NODE_ENV"
It will be cool if migrations could be recorded per deployment environment. So, if I run them locally, the `.migrate` file is going to include "development" somewhere. And once I deploy onto staging or production, my migrations could run again and I will be able to version .migrate as well. Does this make sense? Is there any other way to make sure migrations don't get executed several times upon d

[2012-07-11 13:28] #13 closed, assigned to nobody

[2012-11-07 10:52] ralyodio opened #17 "use with mongoose?"
Can I use mongoose inside my up and down?

Also, I need to do some data transformation on my database in dev, test and prod.
Is there a way to run this migration script against a different environment?

[2012-11-07 20:20] #17 closed, assigned to nobody

[2013-06-28 21:44] newmanw opened #22 "Create not creating migration"
I am running:
$ node migrate create setup

No setup file is created.  I have also tried with -c and --chdir with no luck.

Wondering if this does not work in node v 0.10.x

[2013-07-01 16:27] #22 closed, assigned to nobody

[2013-09-18 11:55] TrejGun opened #25 "setup/teardown"
Plz, add setup/teardown functions to open/close db connection before/after couple of migrations

[2013-10-21 15:18] darrenhaken opened #27 "Cannot create migration scripts as cwd is never defined."
Will add a pull request for this.

Issue can be fixed with the following code to the create function:
cwd = cwd || process.cwd();

Exception:
path.js:204
        throw new TypeError('Arguments to path.join must be strings');
              ^
TypeError: Arguments to path.join must be strings
    at f (path.js:204:15)
    at Object.filter (native)
    at exports.join (path.js:209:40)
    at create (C

[2013-10-28 07:20] chrisspiegl opened #28 "`migrate` is also used in rake"
I just installed this package. Looks great but the command line command `migrate` is also used by rake, if I run `which migrate` I get the following:

[code]

Maybe this could be noted somewhere or solved in some way.

[2013-10-30 02:56] #28 closed, assigned to nobody

[2013-11-13 10:46] gtmtech opened #29 "Store state in the DB, not in a file."
Storing the state of which migrations have been run in the DB itself, rather than in a file may be preferable in a number of circumstances:
- Running large clusters
- Running phoenix servers

The trouble with a local file, is you pin your migrations to that machine (or you need to copy the file around). This may not always be possible in some setups. It would be good (as in rails activerecord migr

[2014-01-01 22:52] #27 closed, assigned to nobody

[2014-03-12 06:03] mrosalesdiaz opened #33 "Error running "down" command twice"
If I run "down" command twice. First time, it executes all migrations in reverse order and the second time it executes first migration, after that it always shown complete message.
Running "up" command after this, causes that first execution perform last migration and then in a second execution it runs all migrations in order.

Is this a normal behavior? Is there a way to rid of this problem?

Tha

[2014-03-18 21:05] ghost opened #35 "middleware -- reatltime"
Hi TJ, have you created a way to integrate this into a web app module, so that when the server is restarted, deployed, etc, a middleware is triggered to run these?  I am using a host called modulus.io where you dont have SSH access to the server.

Just curious before I go and build one.

[2014-04-14 11:25] hyzhak opened #36 "can't migrate on certain title on windows"
Can't migrate because of bug in joining path

[2014-06-11 04:14] morefromalan opened #38 "first migrate create not running"
Running migration like so:
[code]
Raises error:
[code]
Just installed on ubuntu via:
[code]

[2014-12-24 16:24] #2 closed, assigned to nobody

[2014-12-24 16:53] #36 closed, assigned to nobody

[2014-12-24 16:55] #6 closed, assigned to nobody

[2015-01-07 20:01] gobengo commented on #29
@joaosa @joshperry @gtmtech What do yall think of #42 I just opened, which enables migration mixins that can, for example, [store migration state in a DB](https://github.com/gobengo/node-migrate-mongodb-persistence)?

[2015-01-08 16:57] toymachiner62 commented on #29
I think it's a good workaround, but IMO if i have to remember to specify a flag to store my migrations in the database rather than a file, I feel like this is very error prone.

[2015-01-08 17:23] joelnn commented on #29
Just a note, it's important that the migration state be saved in the same database that the migrations were applied to, e.g. saving mysql migration state to mongo would not be a good idea. You can have a single application that has migrations for different databases.

Also for databases that support transactional ddl changes, the migration state probably should be committed in the same transaction

[2015-01-27 14:49] brianviveiros commented on #10
Shouldn't migrate down perform a rollback to the last time migrate up was run?  This makes it easier to hook into a deploy/rollback script.  Eg. on deployment a deploy script would call migrate up, on a rollback it would call migrate down.

That's how it works in the Rails world and makes it very easy to hook into Capistrano an other deployment tools.  We currently use cap for our node deployments

[2015-02-22 06:43] santthosh commented on #29
+1

[2015-03-31 11:52] LinusU opened #44 "Usage from code"
It seems to me like much of the code is in `bin/migrate` file and it isn't as straight forward as it could be to call `migrate` from other nodejs code.

Also, `migrate` works with a singelton and calling one function multiple times with different arguments. This seems to me like a quite poor api design.

I think it would be awesome if I could use `migrate` something like this:

[code]

Any thought

[2015-03-31 12:03] LinusU opened #45 "Test no longer works"
It seems like the code has been updated without running the tests after. The tests expects `set.up` to take a callback, but it dosen't.

The documentation for the function still acts like it does though:

[code]

[2015-03-31 12:04] LinusU commented on #35
This would be a lot easier with a more friendly api for developers, see #44.

[2015-03-31 12:41] LinusU opened #46 "Save after each migration"
Currently it seems that `migrate` only saves to the state-file after the last migration is done. If an error occurs during any migration, the file dosen't get updated at all.

This can be a problem if I have three migrations to run, and only the last one fails. If I fix it and then run `migrate up` again, it will run the former two again, possibly resulting in more errors.

[2015-04-01 09:04] LinusU opened #50 "Maintainer"
@tj I understand that you no longer maintain your Node.js projects and I was wondering if you would be interested in adding me as a collaborator to this repo. I have no plans for any drastic changes but I would like to ensure stability and close some of the bugs that are currently open. Thanks for your time.

My first order of business would be to merge in #47, #48, #49 and make sure that we can r

[2015-04-02 22:45] limianwang commented on #10
I totally agree to have it so that when you run the migrate down it should perform a rollback to a previous _version_. Say you've ran a bunch of migrations today, and some error occurred, we should be able to migrate down to the last time it was performed successfully.

[2015-04-03 21:32] #45 closed

[2015-04-03 21:33] #46 closed

[2015-04-03 21:33] #44 closed

[2015-04-03 21:33] joaosa commented on #50
@LinusU Unfortunately I can't add you as a maintainer, but I merged your PRs :)

[2015-04-09 19:36] LinusU commented on #50
@joaosa Sorry for late answer, I'm on vacation in NYC this week. Thanks for merging the requests so quickly!

Could you push a new patch release to npm? Thanks! :beers:

[2015-04-12 20:27] tj commented on #50
@LinusU added!

[2015-04-13 08:08] LinusU commented on #50
@tj Thank you! I'm `linusu` on npm if you want to give me push access there as well :)

[2015-04-23 14:03] Jokero opened #52 "Update npm package"
Some pull requests https://github.com/tj/node-migrate/issues/50 were merged :)

[2015-04-23 14:18] LinusU commented on #52
Unfortunately I only got added as a maintainer on Github and not on npm.

ping @tj if you would like to fix this I'm [linusu](https://www.npmjs.com/~linusu) on npm :)

[2015-04-23 14:20] Jokero commented on #52
@tj

[2015-04-23 14:59] tamtakoe commented on #52
@tj please, add LinusU to npm maintainers or update npm package yourself

[2015-04-23 15:49] LinusU commented on #33
@mrosalesdiaz, @hyzhak if I understood the issue correctly it has now been fixed as proven by the test in #53. Could you guys please verify that it works or demonstrate to me how to make it fail? Thanks!

[2015-04-23 15:49] #33 closed

[2015-04-23 16:11] LinusU commented on #35
This is now fixed, take a look at the [api section of the readme](https://github.com/tj/node-migrate#api). If you want to run the migrations every time you start the server it would be as follows:

[code]

[2015-04-23 16:11] #35 closed

[2015-04-24 07:42] Jokero commented on #29
+1

[2015-04-24 07:46] grushikhin commented on #29
+1

[2015-04-24 08:20] LinusU commented on #52
I'm now added as maintainer and have published `0.2.1` with all the latest changes.

[2015-04-24 08:20] #52 closed

[2015-04-24 08:20] LinusU commented on #50
I now have push access to npm :)

[2015-04-24 08:20] #50 closed

[2015-04-24 08:22] Jokero commented on #52
Congratulations, @LinusU :) Thanks :+1:

[2015-04-24 08:40] LinusU commented on #38
I see two problems here.

1. You have not installed `migrate` globally, but instead installed it as `node_modules/.bin/migrate`. To install it globally you have to supply the `-g` flag to `npm install`.

2) It seems like you have installed `sqlalchemy-migrate` which also has a binary called `migrate`. Depending on your `$PATH` one of them will get called. Try and do `which migrate` to see which fi

[2015-04-24 08:40] #38 closed

[2015-04-24 08:51] LinusU commented on #29
The discussion in #42 might be of interest. As I said there I will try and do a writeup on storing state as soon as I get the time, hopefully this can be fixed in the not too distant future. Thanks for the patient everyone!

[2015-04-25 16:31] Jokero commented on #10
I agree with @brianviveiros and @limianwang

[2015-04-27 09:41] tamtakoe commented on #10
:+1:

[2015-04-27 09:41] grushikhin commented on #10
+1

[2015-04-27 09:43] LinusU commented on #10
I think that "rollback" would be the best solution but we currently don't save enough information to be able to do that. I propose that we quickly fix this by defaulting to one step down, this seem sensible.

[2015-05-05 09:37] joaosa commented on #10
Sounds sensible to me as well.

[2015-05-11 08:54] gustavnikolaj commented on #29
I'm not sure if this has been suggested, but what about just allowing `migrate.load` to take the state as the first argument, instead of only accepting a path to a file.

Instead of:
[code]

Just doing:
[code]

That would require people to write their own wrappers, when they want to do something that is more complicated than the general case. But it would on the other hand, also allow the library

[2015-05-11 09:21] gustavnikolaj commented on #29
A proof of concept of the above idea: https://github.com/tj/node-migrate/compare/master...gustavnikolaj:feature/stateAsInput

There's a little thing that I didn't take care of, and that's the serialization in the save method. Originally this code just does a `JSON.stringify(this)`. But apparently, it only ever uses the Set.pos variable, so we could choose only to persist that.

[2015-05-12 13:33] simison opened #54 "Please update History.md to reflect 0.2.1"
Just nudging you to keep this up to date. :-)

https://github.com/tj/node-migrate/blob/master/History.md

Thanks for good work!

[2015-05-12 15:34] LinusU commented on #54
Thank you for reminding me

:shipit: e7adfce6e57ff18e8c85eae27e638660be9005c8

[2015-05-12 15:34] #54 closed

[2015-05-15 05:59] timlesallen commented on #25
+1

[2015-06-30 22:56] marvinroger commented on #29
Another advantage of storing data into the DB is that it would be compatible with PaaS without persistent FS storage or even Docker containers. This issue definitely needs to be solved!

[2015-07-08 17:43] victorbstan opened #56 "Error when trying to run migrations"
I get `error : SyntaxError: Unexpected end of input` when running `migrate` in the console.

[2015-07-09 06:55] LinusU commented on #56
How many migrations do you have? I think that the error is an [unclosed parentheses or curly bracket](http://stackoverflow.com/questions/3983088/javascript-error-uncaught-syntaxerror-unexpected-end-of-input) in one of your files.

[2015-07-09 19:15] mattLummus opened #57 "Migrate doesn't recognize latest migration."
Running on a Digital Ocean Droplet - (Linux)

Created a migration with migrate create command.
Running "migrate" or "migrate up" just shows complete. Should create a log file in our setup (from within migration script) as well which doesn't exist.
Running migrate up with the individual migration file throws an error.

<img width="755" alt="screen shot 2015-07-09 at 2 13 28 pm" src="https://cloud.g

[2015-07-13 07:08] bestan commented on #29
+1

Changes @gustavnikolaj proposes look good. Do you think it can be merged?

[2015-07-13 14:10] gustavnikolaj commented on #29
Earlier in the thread, @joaosa proposed that he could merge a similar PR if @joshperry would do it. I'll happily send a PR of my proposal, if that offer still stands.

My fix is completely backwards compatible, but allows people to supply an alternative implementation than the file based one that is shipping with the module. Database specific implementations can be shipped as standalone modules or

[2015-07-13 15:11] #57 closed

[2015-08-04 15:23] jimmed commented on #29
+1 to @gustavnikolaj 's proposed changes. Please raise a PR, as this would be extremely useful to me!

[2015-08-05 09:29] gustavnikolaj commented on #29
@jimmed and others that might want to use this prior to my PR referenced above being handled: It's released on NPM as [@gustavnikolaj/migrate](https://www.npmjs.com/package/@gustavnikolaj/migrate) if you want to try it out.

[2015-08-10 17:22] almeynman opened #59 "is it possible to use with es6 syntax?"
cannot make it work with es6 imports

[2015-08-10 18:57] LinusU commented on #59
This is currently not possible, I think a good idea might be to solve it like mocha has.

[code]

[2015-08-13 13:42] jimmed commented on #29
@gustavnikolaj Thanks, that's absolutely perfect! So far, so good.

[2015-09-04 14:48] 2yuri commented on #56
i guess you clear the content of  the .migrate file
then in the function set.load() JSON.parse(json) json is empity and then get error : SyntaxError: Unexpected end of input

[2015-11-03 21:13] geekytime commented on #25
:+1: - I would probably call them `before` and `after`, though.

These functions could also be used to alleviate the need for #29, as we could load our `.migrate` file from the DB in `before`, and store it in the db in `after`.

[2015-11-23 19:40] wmartins commented on #29
+1 for @gustavnikolaj pull request, it would be useful to me and to my team

[2015-12-20 20:07] lauort commented on #29
+ 1 for @gustavnikolaj  pull request, it is perfect to check the update states.

[2015-12-30 12:36] harrybvp opened #62 "Use with mongoose any examples?"
I am struggling to make mongoose work with node-migrate .
I am trying to use mongoose inside my up and down of migration script.
However callback for a simple find query never get executed e.g.
I have an existing User model (users collection with pre-existing documents)
Here's how my up function looks like
[code]

I tried wrapping query inside `mongoose.connection.on('connected')` e.g.
[code]
But

[2015-12-31 01:02] harrybvp commented on #62
On further investigation.
It looks like when i load model without require then it seems to work i.e.
i.e. doing `var User= mongoose.model('User',UserSchema)` seems to work  instead of `var User= require('./user');`

user module looks like below (it's pretty straightforward)
[code]
and on debugging i found ,mongoose instance available inside user module didn't have any connection properties set .so

[2015-12-31 01:52] harrybvp commented on #62
I think i have figured it out.
I was unaware of how nodejs searches for particular module ( Node.js performs hierarchical directory search for "node_modules")
So problem was user.js was located inside different package (it had node_modules folder in it)
mongoose module loaded inside user.js had a different absolute path compared to mongoose module loaded inside my node migrate script file..hence t

[2015-12-31 01:52] #62 closed

[2016-01-21 07:29] m4nuC commented on #10
What happened to this issue ? Is anyone on it ?

[2016-01-21 14:16] brianviveiros commented on #10
We ended up building this as a replacement: https://github.com/flashstockinc/mongoose-data-migrate

Sadly myself and the co-author have moved on to other roles and different stacks so it is no longer maintained, but you can fork it and tweak as needed.

[2016-02-07 18:13] okv commented on #29
Hi, there.

I maintain [east](https://github.com/okv/east) - migration tool with main ideas to store executed migration names inside db and provide existing connection to the db for using it inside migration. It has adapters for mongodb, postgres, mysql, sqlite. I and my colleagues using it a lot at our day to day job. It could be useful for someone else. For me such missing feature in node-migrat

[2016-03-11 12:33] darkbasic commented on #29
+1

[2016-03-12 15:00] blueror815 commented on #29
Hi.
I want to set mongodb config in migration file.
How can I do it?

[2016-06-10 17:17] arturskeeled commented on #29
This is perfect for my needs, but since I use AWS CodeDeploy together with CodeShip for deploys, it doesn't work unless persistence is added to the DB, not to a file.
Is there any update on this?@tj
@gustavnikolaj I downloaded your codes so i could do the save/load on my own, but I can't make it work for some reason.

If any of you could help, it'd be much appreciated. Tnks

[2016-06-11 11:15] jimmed commented on #29
@arturskeeled I had the same needs - we were deploying to Heroku and so needed to persist database version in the database. As it was for a former employer with some more bespoke needs, I ended up writing my own little migration tool based on node-migrate, but I wasn't able to open source it before the company folded. Sorry!

[2016-06-13 07:46] arturskeeled commented on #29
@jimmed I'll start doing the same right now. Thank you

[2016-06-13 11:51] lauort commented on #29
I can help If you want
Am 13.06.2016 09:46 schrieb "Artur Teixeira" <notifications@github.com>:

[2016-06-13 13:45] arturskeeled commented on #29
It was actually super straightforward since i wanted a really simple example.
I can leave the pseudo-code here.

1. Get all files from certain path.
2. For each of them search the DB to see if _id/code/name_ is already there.
3.1 If it is, cool, do nothing.
3.2 If it isn't, require the file and run the **up**, if that failed run the **down**.
3.2.1 If everything went okay, save the new _id/code/na

[2016-07-04 14:24] vayser commented on #59
you could look to this fork
https://github.com/jarvisaoieong/migration

[2016-07-06 12:55] antony commented on #29
We'd also love this to work now. Is there a chance that the code could be ported from @gustavnikolaj 's version to the current codebase? Happy to help if need be...

[2016-08-11 07:37] stephschuster opened #68 "Error: Blocked: Migration Table Already Locked"
hi,
how I supposed to release the block?

[2016-08-11 08:24] LinusU commented on #68
We do not use a migration table, are you sure that you submitted this issue to the right repo?

[2016-08-11 11:02] stephschuster commented on #68
Yes, Im sure and I resolved it.
I got an exception while a migration, so I needed to change the "lock" field to false on my mongo on migrations-lock collection

[2016-08-11 11:17] #68 closed

[2016-12-08 05:31] natoen opened #69 "Load (.load) api doesn't return latest position (pos)."
Hello!
Should the load really be just returning a position set at 0?

Thank you!

[2017-03-26 02:42] arxpoetica commented on #50
@LinusU @tj What is the status of this repo? I know you gave up Node many a moon ago, TJ, but are there plans to hand this useful utility off to anyone? I think it might be broken on the latest version(s) of Node.js (for some reason?). Been digging into it a little, but no go yet.

[2017-03-27 15:55] LinusU commented on #50
I haven't seen any bug report on this being broken on the latest node, maybe I missed something? I'm still actively maintaining this and would be happy to merge PRs and/or look into any bugs that are present...

[2017-03-27 19:19] arxpoetica commented on #50
I was wrong, sorry. It was something on my end. Sorry. False negative.

[2017-05-25 21:50] wesleytodd opened #71 "Governance?"
@LinusU & @joaosa

It looks like you two are the most "recent" large contributors.  Before I move forward, can you let me know what level of involvement you would like to have with moving forward?  I would be down with coming up with some guidelines/process if you want to be involved.  Or I can just take over and move it in the direction which my fork has been going, which adds features and in som

[2017-05-26 03:08] joaosa commented on #71
@wesleytodd Great to see all your changes. I skimmed over https://github.com/tj/node-migrate/pull/70 and it's looking pretty good. I confess I am pretty happy about [standard](https://github.com/feross/standard).

As for my involvement, I am willing to assist with whatever might be needed (e.g. review PRs, fix bugs, improve tests, close issues) and assume a more supportive role if needed.

I think

[2017-05-26 03:34] wesleytodd commented on #71
Thanks @joaosa!  Glad to hear you would like to continue with the project, I was worried since it had sat dormant for so long people would not be interested.

As for that PR, it was really just my idea to get the ball rolling.  Now that I have the ability to move those contributions forward here, in the main repo, I would like to re-structure all of those commits so that they can be merged here on

[2017-05-26 16:20] joaosa commented on #71
@wesleytodd That sounds great. Breaking down the PR into smaller ones would make the process smoother :)

I second your thoughts on receiving feedback from others. I will be glad to help with that.

[2017-05-29 09:59] szimek commented on #71
@wesleytodd Hey, quick question, because we're most likely going to need some kind of migration system very soon (like this week 😉 ) and this one looks like exactly what we need (thanks @tj!). Is there a list of changes you made in your fork and some docs how to use it? I'm not sure if it's better to use this version or your fork...

[2017-05-29 19:34] wesleytodd commented on #71
Hey @szimek, you can check out the PR here: https://github.com/tj/node-migrate/pull/70

It is published here: https://www.npmjs.com/package/@wesleytodd/migrate

We are using the fork at my company in one part of our app, so it is reasonably safe to use.  I have been focusing more on the features than the docs, but my intent was to add those as I merged things into here.  I have a busy few weeks, s

[2017-05-31 09:24] LinusU commented on #71
Awesome to see work happening on this @wesleytodd, I'd be happy to help review/merge/release or whatever is needed :)

I think that you should be added as a maintainer on Github and npm when we merge it as well 👍

[2017-06-03 06:01] floo51 commented on #59
Well you can use babel-cli to call migrate.

`./node_modules/.bin/babel-node ./node_modules/.bin/migrate`

[2017-06-13 15:39] #59 closed

[2017-07-11 13:26] Gardezi1 opened #76 "The program 'migrate' can be found in the following packages"
Hello, guys, I'm trying to run this migrate command `migrate create add-pets` but the problem is it is throwing me an error pointed out int the above title. I have installed it using yarn

yarn add migrate

but whenever I try to run the command it is throwing me the above error

OS: UBUNTU

[2017-09-23 18:52] wesleytodd commented on #76
Hey @Gardezi1.  I dont use yarn, so am not sure what the issue is.  Can you post more information, like the specific output from the command line?

[2017-09-23 18:55] wesleytodd commented on #69
The new `1.x` branch implements this tracking very differently, by individually tracking which have run.  If you are still interested in this package, maybe you can check out that work.  Otherwise, I would like to close this once we publish that `1.0.0` officially.  Thanks!

[2017-09-23 18:56] wesleytodd commented on #56
Closing for inactivity.

[2017-09-23 18:56] #56 closed

[2017-09-23 18:57] wesleytodd commented on #29
Ok, there is an implementation of this in the `1.x` branch.  If you could all check that out and give feedback that would be *great*.  thanks!

https://github.com/tj/node-migrate/pull/77

[2017-09-23 18:59] wesleytodd commented on #1
Closing because I believe 6 years of inactivity is enough to warrant it, sorry tj :)

Also, the error cases are mostly being handled in the `1.x` work.

[2017-09-23 18:59] #1 closed

[2017-09-23 19:01] wesleytodd commented on #10
If anyone wants to return and champion this idea, can you roll this conversation up into a solid proposal for the `1.x` branch?

[2017-09-25 07:13] Gardezi1 commented on #76
@wesleytodd I was able to solve the problem can't remember how but I was able to solve it. So I should close this issue

[2017-09-25 07:13] #76 closed

[2017-10-22 14:12] lewisl9029 commented on #29
Per @joelnn's [comment](https://github.com/tj/node-migrate/issues/29#issuecomment-69214490) above:

Can the current implementation in #77 support this use case? Is it as simple as starting the transaction at the beginning of `load`, committing the transaction at the end of `save`, and then wrapping everything in a try-catch and rolling back in the catch? I just wanted to make sure I'm not missing

[2017-10-22 15:32] wesleytodd commented on #29
I have not fully thought through this, nor tried to make a proof of concept, but I think you would need to setup a wrapper yourself which integrates to your state `store`.  I think you would actually want to start the transaction at the `migration` event and commit/rollback on `save`.

The migration scripts do not have access to the `set`, so you don't directly have the events you need.  You would

[2017-10-23 21:28] wesleytodd commented on #71
Going to close this since that 1.0 branch is pretty much ready to release and it seems like everyone is good with it.

[2017-10-23 21:28] #71 closed

[2017-10-23 21:29] wesleytodd commented on #69
Closing for inactivity

[2017-10-23 21:29] #69 closed

[2017-10-26 22:00] wesleytodd commented on #25
I have two thoughts on this:

1. Use the new `store` as implemented in the new `1.x` branch.  Basically `store.load` is called before anything else, so you could initialize your db connections in there.
2. Expose more event hooks with cli flags like `--before="path/to/before.js"` and `--after="after.js"`

An example of number 1 would be:

[code]

It should work, and does not require any new api in

[2017-11-03 10:13] Alendorff opened #83 "Can't migrate on Windows"
I have set of migrations which works perfectly on linux systems, but when I try to run migrations on Windows machine I get the following:

[code]

This is `migrate` script command:

`"migrate": "node -r dotenv/config node_modules/.bin/migrate --state-file runtime/.migrate",`

[2017-11-03 15:36] wesleytodd commented on #83
Hey @Alendorff.  I was actually going to release the `1.0.0` version this week.  Do you think you could try that?  You can install it now with `npm i migrate@next` or whatever the compatible yarn command is (sorry I dont use yarn).

[2017-11-03 20:08] Alendorff commented on #83
Alas, but situation with 1.0.0-2 is exactly the same.

[2017-11-03 20:12] wesleytodd commented on #83
Interesting.  Have you tried with npm?  Also what node version?

[2017-11-03 20:14] Alendorff commented on #83
Yes, it's the same with npm.
[code]

[2017-11-03 20:34] wesleytodd commented on #83
Ok, found it.  npm creates a `node_modules/.bin/migrate.cmd` for use on windows.  In my windows vm I tried adding a package.json script like this:

[code]

Then ran:

[code]

And that seemed to work.  Hope that helps.

[2017-11-03 20:46] Alendorff commented on #83
Yes, thank you, it seems like simple `migrate` works fine. But in my script I wanted to preload environment variables by executing dotenv/config (`node -r dotenv/config`) module. Because I use some configs in migrations like db url, etc... But, unfortunately, it doesn't work on windows.

[2017-11-03 20:47] #83 closed

[2017-11-03 20:54] LinusU commented on #83
Not really a solution, but db-migrate loads `.env` automatically (using dotenv) and I would personally like it if this module did the same. It's quite convenient, for exactly the use case you are using it for, and I believe it to be somewhat of a standard to have `.env` files...

[2017-11-03 20:58] wesleytodd commented on #83
I think maybe since I don't use windows I don't understand the use case.  Can you not just do:

[code]

Or any other method of setting env variables?

Would love to get input on how people want this to work.

[2017-11-04 06:35] Alendorff commented on #83
@wesleytodd yes, of course it will work, but it's a bit inconvenient.

[2017-11-04 09:02] XVincentX opened #84 "The framework does not recognize a Bluebird Promise"
Hey — I've been this library for some time (in particular the `next` version) and so far it has been working great, thanks.

Now, I'm in a migration where for some reasons the promises being returned from the code aren't native from Node, but rather from Bluebird.

Therefore `node-migrate` does not recognize them (as they're not `instanceof Promise`) and switches back to callbacks, that aren't pro

[2017-11-05 00:28] wesleytodd commented on #83
Could you suggest what you would rather have?

[2017-11-05 00:32] wesleytodd commented on #84
With native `Promise` support so prevalent I do not thing this lib should support any third-party implementations.  Are the migrations not something you can convert to native promises?

[2017-11-05 00:34] XVincentX commented on #84
I totally agree with you. I didn't have the time to look in a way to convert bluebird promises into a native promise…probably:

[code]

Anyway I was wondering whether a simple check if `then` function exist wouldn't be enough…

[2017-11-05 00:38] wesleytodd commented on #84
I think your wrapper would be right, although I haven't ever use bluebird directly.

The check for a `then` function is a bit naive for my taste.  If someone has some ORM or db driver which has a `then` method and accidentally returns it, it would trigger this.

[2017-11-05 00:39] XVincentX commented on #84
It definitely make sense. I'll try to figure it out somehow. I guess we can close this, right?

[2017-11-05 00:40] wesleytodd commented on #84
Yep!  Thanks for the input, sorry I couldn't help more.  Let me know if you have any other suggestions, I have been waiting to publish the `1.0.0` until I got some feedback that people have tested it a bit, so thanks for doing that!

[2017-11-05 00:42] wesleytodd commented on #84
Good point.  I will take a look at that before I publish, probably later this weekend.

[2017-11-05 09:30] Alendorff commented on #83
@wesleytodd I would rather have .env file :)

[2017-11-05 16:15] wesleytodd commented on #83
Can you elaborate?  Should it be loaded in with an `--env` flag?  Like `--env path/to/file`.  Where the file is like:

[code]

I always used the system I am on to manage my environment variables, or just a small bash script wrapper during development if I need it.  I have never felt the need for a tool to support them directly, so I need more info on how you would want it to work.

[2017-11-05 16:33] wesleytodd commented on #83
@LinusU mentioned this module: https://www.npmjs.com/package/dotenv

Is this what you are talking about?

[2017-11-05 16:34] Alendorff commented on #83
Yes, `--env` flag could be a pretty usable for that case, I think.
If we're talking about [dotenv library](https://github.com/motdotla/dotenv), then default path for `.env` file is a project root, but it's not mandatory, so, it's better to have an option to specify custom path. But should those `.env` files work by default - I don't know, it's up to you :) It would be convenient for me personally,

[2017-11-05 16:35] Alendorff commented on #83
@wesleytodd yes, it's exactly what I meant.

[2017-11-05 16:35] wesleytodd commented on #83
Awesome, ok.  This I can go on.  I just read through that module module's readme and it looks solid.  I will work on support for this.  Thanks for following up with me!

[2017-11-05 16:39] wesleytodd opened #85 "Integrate support for dotenv"
As discussed in #83.  Will add support through a flag `--env` which will use [`dotenv`](https://www.npmjs.com/package/dotenv) to load the file.  Targeted for `1.0.0`.

[2017-11-05 16:45] wesleytodd opened #86 "Error when no promise or callback provided"
As mentioned in #84.  Will error when a migration is encountered which does not return a `Promise` or function is not of arity `>1`.  Slated for `1.0.0`.

[2017-11-05 22:53] wesleytodd commented on #84
I am going to close this in favor of #87.

[2017-11-05 22:53] #84 closed

[2017-11-14 15:09] qqilihq opened #89 "Removing old migrations causes confusion"
Removing old migration files seems to bring node-migrate out of sync. Example:

[code]

Later we add a new migration and remove old ones, which we do not want to support any longer:

[code]

Notice that `1510670980407-four.js` will **not get executed** now.

In our case, we would like to remove old migration scripts, because their logic wouldn't work any longer anyways due to changed dependencies,

[2017-11-14 19:48] wesleytodd commented on #89
Hey @qqilihq!  The `next` branch should not exhibit this behavior, it tracks migrations by name and should run your fourth migration but warn you that something is missing.  If you can create a POC or a test case using the `1.x` branch I can take a look.

That being said, removing migrations is not a supported use case, and it is something I would advise against.  The goal of this tool is to track

[2017-11-14 19:49] wesleytodd commented on #89
An example of some of the cli integration tests: https://github.com/tj/node-migrate/blob/1.x/test/integration.js

In case you want to do a PR that just shows the issue.

[2017-11-15 18:31] qqilihq commented on #89
Hi @wesleytodd! Thanks for the detailed feedback.

I'm currently a little stuffed with work, but I'll double check wether the given case covers my issue, many thanks! I'll get back about that asap.

I understand that my given scenario is quite “special”. Let me highlight our use case anyways: We’ve built a product in a quite “agile” manner. Means, at the beginning we did many DB migrations and nev

[2017-11-20 17:48] #85 closed

[2017-11-20 18:15] wesleytodd commented on #89
I think your use case makes sense, but I still am not sure how we would want to move forward with support for this.  My first idea is a command like `migrate clean` which would reset the state based only on what is in the migrations file tree.  So it would maintain the run status, but mark the missing ones so that it does not error/warn.  Seem reasonable?

[2017-12-01 16:01] #86 closed

[2017-12-01 16:02] wesleytodd commented on #25
Since there is a lack of activity on this, closing.

[2017-12-01 16:02] #25 closed

[2017-12-01 16:02] wesleytodd commented on #10
Closing for inactivity

[2017-12-01 16:02] #10 closed

[2017-12-19 23:16] ryanrolds opened #90 "v1 does not respect old migration state file format"
When running migrations with a pre-v1 migration state file in v1, `migrate` ignores the old format and attempts to run all migrations in the migration directory. which is poor behavior. If the format of the file is not what is expected it should error, otherwise the database is at risk of being placed in an invalid state. Consuming and migrating the old format to the new format may be preferred.

[2017-12-19 23:25] wesleytodd commented on #90
I can get on board with your suggestion for it to migrate the old format.  I agree the current lack of a migration path for pre 1 users is not good, but is is better than the outright broken behavior of the pre 1 state file, thus the change.

Want to make a PR?  If not I might not be able to get to it for a few days otherwise, but I will be able to review and publish if you can put together someth

[2017-12-19 23:40] ryanrolds commented on #90
Yes, I will make PR for this. Hopefully will have it tomorrow. Thankfully we caught this on release to our test env. :)

[2017-12-19 23:45] wesleytodd commented on #90
Good to hear!! I would find it hard to have sympathy for anyone who ran this on a production setup without testing after doing a major version update, but I certainly see your concern.

I had left open the 1.x beta for months trying to solicit feedback before publishing, but didn't get much, so sorry for not noticing the migration plan gap which is here.  It was just not a problem I directly had.

[2017-12-20 00:04] ryanrolds commented on #90
Trying to make sure tests pass before starting work on the PR, but they are not. What am I doing wrong?

[code]

[2017-12-20 00:15] wesleytodd commented on #90
Nothing AFAICT.  They worked when this was published a few weeks ago, but they failed for me on a fresh clone and install.  Looking now.

[2017-12-20 00:17] ryanrolds commented on #90
Thanks.

[2017-12-20 00:37] wesleytodd commented on #90
There was an old and invalid `.gitignore` rule which caused the tests to pass on my other machine.  Now that is removed and pushed/published.  Tests passed for me again after a `git clean -fdx && npm it`.  See 738dbcda4930f511716fd2e4a2b11b1d1292f14d

[2017-12-20 00:52] ryanrolds commented on #90
Thanks. Confirming that tests pass on a fresh checkout. I will work up a PR tomorrow.

[2017-12-21 18:42] #90 closed

[2017-12-21 22:35] kidnme commented on #89
I have a similar issue, but a somewhat different use case.  So, I thought I'd mention it here and you can decide whether to just squelch it, answer it, or create a new issue.

I also only ever perform up migrations (stubbed down migrations to effectively do nothing) and I only perform them INSIDE my node application (so they are NEVER run using the command line interface).  So, when my node applic

[2017-12-26 11:14] sms-system opened #92 ""Invalid store file" error on migrate down"
When migrate down to initial state, migrate file lose `lastRun` field. And state file detects as incorrect

[2017-12-29 08:52] dananichev opened #94 "migrate --template-file stopped working after update to ^1.x"
Running

[code]

leads to error:

[code]

0.2 works fine.

[2017-12-29 16:18] wesleytodd commented on #94
Hey @dananichev.  I think it is just the order of the arguments that is causing this.  Previous to `v1` it used bespoke argument parsing.  Now it uses `commander`, which requires that the flags for a sub command come after the command name.  Sorry about the confusion.

I added a test for this flag while I was ensuring that it worked.  See #95.

[2017-12-29 16:18] #94 closed

[2018-01-02 16:31] #92 closed

[2018-01-02 16:31] wesleytodd commented on #92
Published in `1.1.1`

[2018-01-07 11:09] dananichev commented on #94
Hey @wesleytodd! Thanks for feedback.

But in case of pre 1.0 versions we could use simple npm script
[code]
and provide commands. For example:
[code]

In case of post 1.0 it is not possible. I mean you can't even add npm script for ``migrate create`` something due to changes mentioned above (even though only ``create`` needs ``--template-file``).

So i guess my question is: how can it be handled

[2018-01-07 17:50] wesleytodd commented on #94
That is a good point.  The way I had done this is:

[code]

So you could then run:

[code]

Does that work for you?

I really don't like the idea of adding a `.migrate.yaml` if I can avoid it.

[2018-01-08 11:05] dananichev commented on #94
@wesleytodd i wanted to avoid creating different script commands for each operation but for now i have no other choice it seems :)

Thanks anyways!

[2018-01-08 14:52] XVincentX opened #96 "The framework does not work when used with Promise.all"
In case you're returning `Promise.all([])` instead of a single promise, the return value is an array instead of an object.

In case all the promises are resolved correctly, the return value is `[undefined,undefined,undefined]`.

This is clashing with [this part](https://github.com/tj/node-migrate/blob/master/lib/migrate.js#L52) that requires the error object to be undefined.

The catch handler sho

[2018-01-08 16:54] LinusU commented on #96
Yeah, that seems like a typo. PR welcome!

[2018-01-08 18:30] wesleytodd commented on #94
@dananichev We can work on a better solution, but I think it would involve support from `commander`.  IMO it seems reasonable to forward flags from the parent command to the children commands, but this is not currently what it does.  I will dig around over there and see if there are any issues or PR's to add this feature.

[2018-01-08 18:41] LinusU commented on #94
Potentially a bit annoying to switch so soon again, but I personally *love* [neodoc](https://github.com/felixSchl/neodoc), and they have an option, `laxPlacement`, just for this.

[2018-01-09 01:57] wesleytodd commented on #94
I am not totally against it, but only if someone else does it :)

TBH it seems like a great addition to `commander`, so if someone did it there we could simply update here.  Which would clearly be the simplest way forward for this project.  But again, I am probably not going to be able to carve out a chunk of time for this soon as I just moved and am starting a new job.

[2018-01-09 17:23] LinusU commented on #94
Congratulations! 🎉 🎉 good luck on the new job 👏

[2018-01-12 19:00] christianbundy opened #98 "Missing migration file"
I'm working with a distributed team on an application that depends on node-migrate, but we're running into an issue when we switch from a feature branch back to master (which is missing the migration(s) from the feature branch).

[code]

[![asciicast](https://asciinema.org/a/aLTbJ1WH93IBv073hP36C3wYm.png)](https://asciinema.org/a/aLTbJ1WH93IBv073hP36C3wYm)

I imagined that `migrate down` would rem

[2018-01-12 23:43] wesleytodd commented on #98
Hey @christianbundy. I think this is a bug.  Because you have run `down` before switching back.  If you had not run `migrate down`, it would be the expected behavior (see this test: https://github.com/tj/node-migrate/blob/master/test/integration.js#L64-L102).  In this case, it should only care that it can't load it if it thinks it had been run previously.  Im looking at a fix right now.

[2018-01-12 23:47] wesleytodd commented on #98
I think the fix is to add a check that `m.timestamp` is not `null` here: https://github.com/tj/node-migrate/blob/master/lib/load-migrations.js#L55

If you want to submit a PR for this I will merge and publish asap.  If not I will fix this when I get home tonight.

[2018-01-27 21:26] #98 closed

[2018-01-28 22:32] christianbundy commented on #98
That looks great, sorry I didn't get back to you! Thanks for your help.

[2018-02-01 17:59] zebulonj opened #101 "Feature Request: Set Options Via Environment or .migraterc File"
There may be a better way to accommodate this, so let me frame it in terms of a use-case...

I'm storing state in a database (using the `--store` option to designate) have migrations in a non-standard location (`--migrations-dir=...`) and have written my migrations in ES6 (`--compiler=...`), but it's a pain to specify all those command-line options every time I run migrate[1].

It'd be nice to be

[2018-02-01 17:59] zebulonj commented on #101
P.S. Happy to submit a pull-request to accomplish this, but wanted some general buy-in (or course correction) before I invest any time.

[2018-02-01 18:07] LinusU commented on #101
We already have support for reading environmental variables from the file `.env` if it exists. That being said, I think that these kinds of options shouldn't go there because they aren't "environment" dependent, but rather dependent on the setup of the project.

I think that a `.migraterc` file sounds very good! Potentially we could also leverage some `package.json` key under `config`, or potentia

[2018-02-01 18:23] zebulonj commented on #101
@LinusU I looked at the `.env` support, and agree that this is a different use case. Since it sounds like this isn't a bad idea out of the gate, I'll get the broad strokes into a pull-request and throw it back to you for feedback.

[2018-02-01 20:37] zebulonj commented on #101
@LinusU Here's a question for you: should this file be a `JSON` file (similar to `.babelrc`) or a JavaScript file (similar to `webpack.config.js`). The advantage of the later being that logic could be included to... say... resolve a path name or configure a migration state store.

[2018-02-01 20:39] wesleytodd commented on #101
Something similar to this has come up multiple times now, so I think it has merit for sure.  I think the `rc` file idea is good.  Maybe take a look at using [`rc`](https://www.npmjs.com/package/rc)?

[2018-02-01 20:54] zebulonj commented on #101
Great. I have something rough working locally. Expect a pull request later today. I would still be interested in thoughts on my last question (although your reference to `rc` does offer an implicit answer).

[2018-02-01 21:15] wesleytodd commented on #101
I believe that it is best for a module like this one to remain as agnostic and simple as possible.

I don't think coming up with our own semantics around file look up is a good idea, so that is why I suggested `rc`.  I believe that `rc` allows for an assortment of file formats, but does not use `require` to pull in the files, so having javascript logic is not really possible.

IMO having something

[2018-02-02 10:28] LinusU commented on #101
Hmm, at first glance I really liked `rc` but thinking more about it I'm not so sure. It seems to be very focused on getting the information from a number of different places, most of them being _environment depdendent_.

To me it feels like the settings we are talking about here is highly _project specific_, and thus should only be able to be configured from within the project.

The problem with b

[2018-02-02 14:34] zebulonj commented on #101
I would tend to agree, particularly on the point that these are project specific settings. That said, using `rc` does get us standard format support (both JSON and .ini) out of the box.

I defer to the maintainers.

[2018-02-02 14:48] LinusU commented on #101
Personally not a fan of supporting multiple formats either 😄

...and there isn't really a good spec for `ini` files so we will probably look ourselves to that engine. I would rather prefer TOML instead, which is very similar but has a very strict spec for how the language works.

[2018-02-02 18:00] zebulonj commented on #101
TOML looks nice (honestly, never heard of it before), but if we're going to keep it simple can we just stick to JSON, which is what we see in just about any other similar tooling on this stack (prime example: `.babelrc`)?

There are two areas where I'd like clear direction before I invest any additional effort in this:
1. Where can configuration be set (e.g., local `.migraterc` file, environment v

[2018-02-02 18:25] wesleytodd commented on #101
I think you both  have great points.  I don't really care much for `rc` in particular, it was just a highly used module, so I mentioned it.

As for the two questions:

I agree that in 98% of cases it will be project specific, but I think it is also reasonable for having shared profiles with would be nicely supported with a `$HOME/.migraterc` or a `~/project/.migraterc`.  For example, on  my work c

[2018-02-03 01:50] wesleytodd commented on #101
Interesting, so I am at work and didn't really read through what `rc` does until now.  So I don't like the idea of having two command line flag parser runs.  There was another issue with `commander`, and I was actually looking at `minimist` (which is what `rc` is using under the hood).  Unfortunately there are some unresolved issues, I emailed and tweeted @substack about helping out on it but he n

[2018-02-03 02:05] zebulonj commented on #101
@wesleytodd Let’s say `migrate` moves to `minimist` (which I’ve used on other projects too), isn’t there still the issue of redundant processing of the command-line flags?

Can you point me at the issues you’ve had with `minimist`?

Here’s how I’d propose moving forward:

1. Let me add support for a JSON formatted `.migraterc` in the project root (`process.cwd()`). I think there’s consensus about

[2018-02-03 09:59] LinusU commented on #101
This is exactly how I think it should be done 👍

[2018-02-05 17:50] wesleytodd commented on #101
Ok, I am on board with moving forward with this plan.

I was meaning we would replace all of `commander` with `rc`, so it was back to only one step (just using `minimist` under the hood).  But for now I think your plan is best.

Mainly there are a bunch of pending PR's and issue reports.  Only one of which I had hit.  But if there are not active maintainers, I do not want to move this library to i

[2018-03-01 07:19] rodneysantos opened #108 "Use Typescript as compiler"
Hi everyone,

Is there an example usage of typescript as compiler? I already tried different suggestions from my question here in [stackoverflow](https://stackoverflow.com/q/49031585/5553575) but with no luck.

Any help is much appreciated :smile:

[2018-03-02 16:55] wesleytodd commented on #108
There was some recent discussion around this that might help you.  https://github.com/tj/node-migrate/pull/105

We need to revamp that functionality to stay in line with the popular compiler modules, but for now you can wrap it in a file in your project like this:

[code]

Then call `$ migrate --compiler=./my-compiler.js`.

[2018-03-05 10:50] rodneysantos commented on #108
Thank you @wesleytodd I'll try that :smile:

[2018-03-05 17:16] wesleytodd commented on #108
I will close this, but feel free to re-open it you have any other issues.

[2018-03-05 17:16] #108 closed

[2018-03-07 11:04] jmjpro commented on #108
I think this issue should be reopened. I haven't had a luck with it. I'm using node 8.9.4 on mac os/x. A working example would huge here!

I tried
yarn migrate up --compiler="ts-node/register"
[code]
yarn migrate up --compiler="ts:ts-node/register"
[code]

[2018-03-07 11:20] jmjpro commented on #108
I got it working with my external file ts_node_compiler.js by adding `module.exports = () => {}`, so the complete file is ```
require('ts-node/register');
module.exports = () => {}
[code]

[2018-03-07 12:16] jmjpro opened #110 "file extension of migration created by migration create should match template"
_Scenario_:
I created with migration_template.ts with contents
[code]
and ran `yarn migrate create --template-file ./migration_template.ts`.

_Expected_:
migration file in migrations directory is created with `.ts` extension

_Actual_:
migration file in migrations directory is created with `.js` extension

[2018-03-07 12:27] LinusU commented on #110
Oh, this would be nice 👍

PRs welcome!

[2018-03-07 12:31] jmjpro commented on #110
Never mind I saw that it's possible already by passing --extension .ts when running the conmand. `extention` is a typo and should be `extension`. PR on the way...

[2018-03-07 12:38] jmjpro commented on #110
https://github.com/tj/node-migrate/pull/111

[2018-03-07 13:34] LinusU commented on #110
Still think it would be a nice feature if it defaulted to the template's extension?

[2018-03-07 18:30] wesleytodd commented on #108
Ok, so we clearly need better docs around this (as even I wrote the command incorrectly in my comment lol).  The current behavior is that the `--compiler` flag accepts the format `<extension>:<require-able module which registers the compiler>`.  So that last command is the most correct, but you need also need the module to export a function, which is called with an options argument.

See: https://

[2018-03-08 06:57] jmjpro commented on #110
yes. PR on the way...

[2018-03-08 07:00] jmjpro opened #112 "restore CLI argument "extention" but mark as deprecated"
CLI argument "extension" was replaced with correctly spelled "extension' in https://github.com/tj/node-migrate/pull/110. We need to restore support the old misspelled argument (deprecated for now) so as not to break the public interface.

[2018-03-08 07:13] jmjpro commented on #110
I have the fix for this ready to go but first https://github.com/tj/node-migrate/issues/112 needs to be merged.

[2018-03-08 19:12] #112 closed

[2018-03-16 01:32] jmjpro opened #116 "integrate with travis ci to run tests for each pull request"
Travis CI integration must be setup by a repository administrator. Instructions are here: https://docs.travis-ci.com/user/getting-started/.

[2018-03-16 16:39] wesleytodd commented on #116
If you open a PR with the travis config, I will go ahead and do that.  If not, I will look at adding it myself tomorrow when I am not at work.

[2018-03-18 07:15] jmjpro opened #119 "does anyone else feel that this project deserves its own github organization?"
This project has been around for around over 6 years and @tj hasn't touched the code in many years. I recommend to move the project to its own organization. To the maintainers of this project, it's free and easy to create an organizational account at https://github.com/account/organizations/new. `migrate-node` is available as an organizaton name...

[2018-03-19 11:48] LinusU commented on #119
I personally feel that it makes sense to move it once there is more than one repository that ties together, e.g. if we also started publishing adapters for different databases.

Is there a downside to having it on tj that I'm missing?

[2018-03-19 12:26] jmjpro commented on #119
I guess it's mostly a marketing thing. It may make the project seem less
official when it's associated with one person's personal account.

On Mon, Mar 19, 2018 at 1:48 PM Linus Unnebäck <notifications@github.com>
wrote:

[2018-03-19 12:29] LinusU commented on #119
Yeah, that could be true 👍

[2018-03-19 16:04] wesleytodd commented on #119
I agree mostly with @LinusU, but @jmjpro do you think pushing the marketing of the project is something you would like to help with?  If it is, then I could see some benefits.  Especially if you wanted to work on a docs/marketing site.  If not, I am comfortable leaving it as is.

On the "less official" part, I see what you mean, but moving it to an org with only one repo could make it seem less of

[2018-03-21 11:24] jmjpro commented on #119
Yes, TJ's name is also good marketing. :-). Probably best to leave if it depends on my marketing skills as is my time is quite limited.

[2018-03-21 16:02] wesleytodd commented on #110
Closed in #114

[2018-03-21 16:02] #110 closed

[2018-03-21 16:08] #119 closed

[2018-04-02 22:51] #96 closed

[2018-04-09 07:33] zatziky opened #120 "down() doesn't revert failed up()"
Let's say you have 2 migrations:
- migration-a.js (migrated successfully)
- migration-b.js

When `migration-b` fails in `up()` and you try to recover state calling `set.down('migration-a')` then you revert changes from `migration-a`. If you try to exececute `set.down('migration-a')` then `down()` is **not** called.

I believe that `down()` shall correct errors after an unsuccessful `up()` from the

[2018-04-09 20:43] wesleytodd commented on #120
Hey @zatziky.  I don't think I fully understand your scenario.  If the tool failed in `migration-b` then it will not attempt to run `down()` on `migration-b` because it did not successfully run `up()` and assumes no changes were made.  `down()` does not correct errors, it reverses the changes made in `up()`.

If you write a migration that can be partially applied and then fail, you can get yoursel

[2018-04-10 06:49] zatziky commented on #120
Hello @wesleytodd, you explained it well. I wanted to revert changes of `up()` in `down()`. As I understand the correct purpose now I'm closing the issue.

[2018-04-10 06:49] #120 closed

[2018-04-20 23:53] wesleytodd commented on #116
Added in #122.  Just need @tj to add me as owner or to have him enable it in travis.

[2018-04-20 23:53] #116 closed

[2018-05-08 11:02] evgeny-s opened #124 "Unexpected error when start migrate"
I'm trying to run migrate and faced with the error like this:
[code]

![image](https://user-images.githubusercontent.com/2946193/39753668-52dc5a30-52c8-11e8-93c4-932bd6879634.png)

Can anybody help with that?
Thank you!

[2018-05-08 11:03] evgeny-s commented on #124
Sorry, wrong place :)

[2018-05-08 14:19] wesleytodd commented on #124
Reopened because you are still having this issue?  My guess would be a syntax error in your migration file.  I have a todo to get better logging, specifically to make debugging errors better, just haven't gotten to it, sorry.

[2018-05-08 15:16] evgeny-s commented on #124
Yes, would be great. Because this is less info about the error.
Thank you for doing this

[2018-05-08 15:18] wesleytodd commented on #124
Well I didn't promise doing it now ;)

The simplest way to find a syntax error would be to run a linter on your migrations.  I would start with doing that if you cannot find the error manually.  If you have already resolved the issue can you close this?

[2018-05-08 15:29] evgeny-s commented on #124
Once I resolve it, I'll close it.

[2018-05-10 18:28] wesleytodd opened #125 "Idea: Special force clean migration"
I often find myself manually dropping tables because I am making a new migration and have an error in it which my `down` does not or cannot compensate for.  In development I really want just a nuclear option which is more forceful than `migrate up --clean` in that it does not run all the `down`'s, but instead it a full "drop all tables" kind of migration.

So my thought is that we add a special ex

[2018-05-10 20:19] LinusU commented on #125
Another approach would be for the adapters to know how to delete and create databases. That's how db-migrate works.

Then you can do `migrate drop` and `migrate create` to drop and create a new database from scratch.

So `migrate up --clean` would be equal to `migrate drop && migrate create && migrate up`. Maybe `migrate recreate` as a shorter verison?

[2018-05-10 20:28] wesleytodd commented on #125
Hm, I am not sure how this is different from having a `create table` in the `up()` and a `drop table` in the `down()`?  The only difference is that db-migrate is *not* agnostic like this.  So I assume it tracks things like `create table` statements and knows how to undo them.  But for this tool it is important for it to *not* have that knowledge.

My current use case is basically just using this p

[2018-05-10 20:43] LinusU commented on #125
The difference is that it drops the entire _database_, instead of working at the table level.

I think that dropping the entire database is better since it can be very easy to miss things in a manually maintained `clean`-migration. e.g. enums, increment-values, custom types and even entire tables.

That being said, it does depend on knowing something about the underlying implementation which might

[2018-05-10 20:51] wesleytodd commented on #125
Ahh, yeah I guess I didn't think of that.  That makes sense to drop the whole database in the case you describe.  I guess I didn't think of doing that since my migrations rely on the database being there because they operate on a docker container which creates the database for me.

Again though, what about if your migration is one that moves image files around, or migrates redis keys?  Neither of

[2018-05-18 20:18] wesleytodd commented on #125
Ok, so the more I think about this the more I think it is not a good idea.  I think that my initial migration should `CREATE DATABASE IF NOT EXISTS`, and then the down would `DROP DATABASE IF EXISTS`.

And to my other scenarios, there are equivalents like `FLUSHALL` or `rm -rf .jpg`.  So any case can be handled without a special feature.

[2018-05-18 20:18] #125 closed

[2018-06-08 22:16] aguynamedben opened #126 "Uncaught Error: Cannot find module "." when using Webpack and programmatic usage"
Hi, thanks for maintaining this great repo. I'm very optimistic it will fill an important need I have.

I'd like to manage migrations in an Electron app releases using node-migrate. I got command line usage working fine, but am having an issue where node-migrate can't load my migrations files. My app uses Electron, ES6, and Webpack (it's based on [electron-react-boilerplate](https://github.com/che

[2018-06-08 22:30] aguynamedben commented on #126
I'm going to try fixing this by changing the `require` to `import` similar to [how they did in umzug](https://github.com/sequelize/umzug/commit/d203cbe7521b9b36492c343667e214c88fbe0805#diff-410142b027abfe35d3351577b731ebcaL57). Will report back.

[2018-06-25 22:46] MatthewSteel opened #127 "Custom state storage should be documented better"
The README says,

It should say something about what `set` actually looks like, because its shape says something about how users can persist it. Is it a string? Is it something the user can call `JSON.stringify` on, and restore with `JSON.parse`?

Reading the source, it looks like `set` is a `MigrationSet` object, and the `MigrationSet` has the `store` as a property. Should `load` return a `Migrat

[2018-06-25 22:59] wesleytodd commented on #127
Hey @MatthewSteel, thanks for the feedback.  Yes `set` which is passed to the store is a `MigrationSet` but really all it does is use the `migrations` and `lastRun` keys.  All `load` needs to return is those keys in an object.

I am not able to work on those docs at the moment but would love it if someone opened a PR expanding on them! *hint hint* ;) ;)

[2018-07-11 07:44] cbesangeeth opened #128 "Custom folder path for migration files"
How do i maintain my migaration files in custom location like `./migrations/foo/`

Documents say,
`To create a migration, execute migrate create <title> with a title. By default, a file in ./migrations/ will be created.`

Since my application has multiple db's (currently postgres and redshift) and i want to maintain migrations files for different db's in my custom folders.

[2018-07-11 16:10] wesleytodd commented on #128
For this you can use the `--migrations-dir <dir>` flag.

[code]

[2018-07-11 16:10] #128 closed

[2018-07-19 20:19] domske commented on #126
In my case it solved the problem by removing `/umd` from import pathes.
Search and replace all occurrences of `ionic-angular/umd` with `ionic-angular`.
I don't know why is `/umd` set on the pathes. And I'm sure it also working with `/umd`.
The problem comes suddenly. In my case I renamed a few files in my sources.
But rebuilt incl. clean. Usually it works. This error (cannot find module ".") is ra

[2018-07-23 14:06] wesleytodd commented on #127
Hey @cbesangeeth, the code for this is pretty straight forward: https://github.com/tj/node-migrate/blob/master/lib/file-store.js

Just do what that does, except instead of writing to a file, write to your database.  Hope that helps!

[2018-08-07 17:28] gpinhey opened #133 "Promise resolving to truthy is treated as rejection"
https://github.com/tj/node-migrate/blob/93dfb65e3605e7f2b4298db7e06523a5ee2438aa/lib/migrate.js#L47-L51

Be careful when mixing promises and callbacks. This passes a node-style callback as a `.then()` handler to a promise, meaning that the resolved value of the promise is the first argument of the callback, indicating to the callback that there was an error if the resolved value of the promise is

[2018-08-07 17:44] wesleytodd commented on #133
Hey @gpinhey.  I think this is a reasonable change.  If you want to submit the PR I would accept it.

I think the reason this has been acceptable to most people so far is because they are not resolving their promises with a value, so typically it is just `undefined`.  But since the library should be ignoring it, this change makes it more explicit and removes the odd behavior when you do resolve wi

[2018-08-09 17:20] owenljn opened #135 "migrate up returns typeerror"
[code]

Hi, I'm trying to run 'migrate up' command, but I got this error, I have "Promise.all" in my code though

[2018-08-09 17:39] owenljn commented on #135
hey thanks for the reply, I'm not using promise polyfill, and the node version is 8.9.4 which I have to use in order for the code to work

[2018-08-09 17:56] wesleytodd commented on #135
Can you post more of your code?  The error is in `shared-data/migrations/20161114142438_organizations.js`.  Can you post that file?

[2018-08-09 17:57] wesleytodd commented on #133
Closing because the PR is open.  #135 134

[2018-08-09 17:57] #133 closed

[2018-08-09 17:58] owenljn commented on #135
Sure, here you go
[code]

I have a whole bunch of other migration files, they all have the same problem

[2018-08-09 18:33] wesleytodd commented on #135
Ok, well that is the reason.  The migration is not called with `Promise` or `knex` like you have here.  It is called only with a `next` function.  Are you wanting to wrap all your migrations in something which provides those arguments?

[2018-08-09 18:45] owenljn commented on #135
Yup, and I just got this problem solved using knex combined with migrate, now it works, thank you for the effort!

[2018-08-09 18:57] #135 closed

[2018-08-23 19:09] dextervip commented on #127
How could I set default state storage class for CLI?

[2018-08-23 20:02] wesleytodd commented on #127
There is no current way to set default options in the cli, just by passing the flag.  The way I usually setup my projects is by creating npm scripts for the different migration configurations I need.  For example, here is a block from the current project I am working on:

[code]

[2018-08-24 15:15] dextervip commented on #127
@wesleytodd Good hint! I got it working by passing migrate up --store="./lib/file-store/database-storage.js"

[2018-10-27 03:52] Igor-Lopes opened #138 "NPM Audit reports issues"
Npm audit reports several issues. I've opened a PR that fixes it.

[2018-10-27 03:53] Igor-Lopes opened #139 "Build status unknown"
Build status is unknown on Readme.

[2018-10-28 21:50] #138 closed

[2018-10-28 22:00] wesleytodd commented on #139
Hi @Igor-Lopes, I think @tj either needs to add me as an owner, needs to turn on travis or I need to contact travis ci to figure out how I can turn this on since I am not an owner.  If he does not respond soon I guess I will just remove the badge :)

[2018-11-30 16:39] qqilihq commented on #127
In case anyone wants to store his state in a MongoDB -- we’ve just made our solution available as an NPM module:

https://github.com/NodePit/node-migrate-state-store-mongodb

Feedback and contributions always welcome!

[2018-12-17 09:01] stalniy opened #142 "`lastRun` has incorrect value when migrating down"
I'm trying to create a custom store for migrations, a table in SQL db:

[code]

All works good for `up` migrations but for `down` migrations `lastRun` in `save` method of my custom store has invalid value. That value actually points to the next migration not that one which was run.

if you do `console.log(migration.title, migration.timestamp, set.lastRun)` at https://github.com/tj/node-migrate/blo

[2018-12-17 18:39] wesleytodd commented on #142
Interesting, I thought we had a test for this, but I must be wrong.  In the last major refactor I removed the use of `lastRun` and instead use the `timestamp` as in indication of which were run.  I only left that flag as an indicator for people like you to use.  Maybe because of this it just never was done correctly.

If you could make a reduced test case, or even a failing test in our test suite

[2018-12-18 06:54] stalniy commented on #142
The issue is in this test https://github.com/tj/node-migrate/blob/master/test/basic.js#L172

It expects that after migrating down `lastRun` should equal `1-add-guy-ferrets.js` but it's actually next migration to run (similar indication to how `pos` parameter was implemented in earlier versions) not the last one. The correct one must be `2-add-girl-ferrets.js`

`lastRun` must always equal to migrat

[2018-12-18 22:14] wesleytodd commented on #142
Yep!  This would be a great little PR to open.  If you don't have the time I can try to look at it this weekend.

[2018-12-21 00:47] AakashGfude opened #143 "Storing different migration states for different server"
Hi,

I was setting up migration scripts for my mongodb database and have successfully run the migration script in the localhost. Now I want to run it in development. What do you suggest is the best minimal way to do it.
Maybe like putting .migrate file in .gitignore so that every environment/system has its own instance.
Also I should include this migrate command in my npm build script right?
What

[2018-12-21 01:51] wesleytodd commented on #143
Hey @AakashGfude,

There are many ways you could set this up depending on how it best integrates to your setup.  The way I have been running lately is to have multiple `.migrate` files, one for each environment (ex. `.migrate-local`).  With that file setup you can either ignore `.migrate*` or commit them to keep the state in version control.

You can also use a storage engine to store it in the da

[2018-12-21 03:19] AakashGfude commented on #143
Thanks @wesleytodd for the ideas.

[2018-12-21 03:19] #143 closed

[2019-01-05 03:42] wesleytodd commented on #29
Hey, so this is fixed, and there is even an example of doing it in the repo.  Going to close this.

[2019-01-05 03:42] #29 closed

[2019-01-05 03:44] wesleytodd commented on #89
Just cleaning up old issues, and this should be resolved in the current major version.  Feel free to reopen if there is more to discuss or resolve.

[2019-01-05 03:44] #89 closed

[2019-01-05 03:45] wesleytodd commented on #101
This should be resolved with https://github.com/tj/node-migrate/pull/88, right?

[2019-01-05 03:45] #101 closed

[2019-01-05 03:46] #124 closed

[2019-01-05 03:49] wesleytodd commented on #126
Hey, I am going to close this.  If in the future there is a solution to this, or other developments, please feel free to post or reopen.

[2019-01-05 03:49] #126 closed

[2019-01-05 03:50] wesleytodd commented on #127
That PR is merged.  Closing.

[2019-01-05 03:50] #127 closed

[2019-01-25 16:44] saveman71 opened #145 "Additional files in migrations folder"
I'm currently "migrating" (🥁) our migrate installation from 0.1.6 to the latest. I have some helpers files (e.g. `migrations/helpers.js` that is required in almost every migration I create.

However it seems it's trying to use `helpers.js` as a migration file now (`Migration helpers.js does not have method up`), whereas this file was ignored before.

It seems this use case is confirmed to be possi

[2019-01-28 16:10] saveman71 commented on #145
I agree moving them out seems like the better option. However I still think the doc (snippet I ref'd in https://github.com/tj/node-migrate/issues/145#issue-403236401) is a bit misleading on that, as it seems it still should be possible without any further configuration.

Also, the breaking change wasn't mentioned in [History.md](https://github.com/tj/node-migrate/blob/ee1df149484f342fa693c610d6bb7

[2019-01-31 22:37] wesleytodd commented on #145
Hey @saveman71, no ill will taken!  I changed so much in the 1.0 I am sure I missed some things in the history, which is why OSS and team work is great!  A PR will be very welcome, but please be patient with me now because between my comment 6 days ago and yours 3 days ago I had a baby daughter (👶!!!) so will be a bit disconnected.

If you make a PR for the docs it would be great to also update th

[2019-02-09 23:47] strayiker opened #147 "Allow to setup an execution context."
It would be nice to have an option to setup/teardown the context to be able to open the DB connection once and reuse it for all migration steps.
Perhaps, in the form of the `--context` option, which is similar to `--store`, accepts a module with:
[code]
Then pass the result of `setup` to each `up`/`down` function.

[2019-02-11 00:34] wesleytodd commented on #147
Hey @strayiker, I think you can do this without an api addition to the tool.  Just setup your db as a singleton in a file imported into each migration.  Is there a reason you can think of which makes adding api surface area to support this explicitly being better than implementing it within your own migrations?

For example, I use `@wesleytodd/pg` as a singleton wrapper and then in my migrations I

[2019-02-11 08:04] strayiker commented on #147
@wesleytodd Yeah, i think it should work, I can't check it right now. But it's not a good solution, in my opinion. There is no place to destroy the connection and the idea of instantiating something inside a package seems wrong in general.

[2019-02-12 21:14] wesleytodd commented on #147
Hm, well it is just one of many patterns you can follow to achieve what you are looking for.  You might also consider creating your own wrapper:

[code]

In this way you could manage the connection explicitly without a global singleton but also without adding api to this package.

The example above is also asynchronous, you can take a look at how that package does it if you need an example to work

[2019-02-16 12:56] strayiker commented on #147
@wesleytodd This is the same as to setup connection inside an `up/down` functions. The main benefit of my suggestion is option to create connection once for all migrations and ability to destroy it gracefully in the end (what can't be done if we create connection in the global scope).

[2019-02-17 13:59] gustavopch commented on #145
If I understand correctly the issue, the desired feature already exists in the CLI as an option called `matches`.
[code]
See: https://github.com/tj/node-migrate/blob/master/bin/migrate-up#L25

[2019-02-18 17:58] akivajgordon opened #148 "--migrations-dir flag should allow absolute path"
## Action

[code]

## Expected behavior

A migration file `<TIMESTAMP>-bar.js` would be created in the absolute path `/tmp/foo`.

## Observed behavior

An error was thrown saying that the directory `$PROJECT_PATH/tmp/foo` does not exist, e.g.:

[code]

Notice that the path `/tmp/foo` is being resolved as a _subdirectory_ of the project, even though I specified the path as an absolute path. I assum

[2019-02-21 21:00] wesleytodd commented on #148
Closing this in favor of the PR.

[2019-02-21 21:00] #148 closed

[2019-02-23 18:48] wesleytodd commented on #147
Interesting, yes teardown is currently not possible without wrapping the js api (single connection is still just a singleton pattern away).

TBQH a few things could be made a lot better by just improving the js api and letting users who want specific features wrap this lib.  But for this case I can see this might be a good addition to the library if we can find a good way to expose this functional

[2019-04-08 15:40] johncmunson opened #151 "Issue with the custom state storage example"
I needed the ability to store the state of my migrations in the database itself. I noticed that there was an [example](https://github.com/tj/node-migrate/blob/master/examples/custom-state-storage/custom-state-storage.js) for doing so. Luckily, I was using already using postgres as my database just like in the example, so I realized I could use the example code pretty much as-is.

To get it to work

[2019-04-08 15:42] johncmunson commented on #151
@tj if you concur, I'd be happy to create a pull request with the changes

[2019-04-08 15:58] johncmunson commented on #151
Also, I was able to successfully run the script programmatically, i.e. `node custom-state-storage.js`, but it's not clear to me how I would run it from the command line like your README describes... `migrate up --store="./custom-state-storage.js"`.

Here is my modified code to attempt to run it from the command line...

[code]

And this is the stack trace that it errors out with...

[code]

[2019-04-08 21:06] wesleytodd commented on #151
Hi @johncmunson, I would happily accept more robust example code as a PR.  For your second issue, I think this might not have been the best implementation in hindsight, but the `Store` is required to be a constructor.  So it looks like you are exporting a plain object with `load`/`save`.  Try exporting a function/class with those methods and it should work.

[2019-04-08 21:08] wesleytodd commented on #151
Oh, and checking out the example I can see that it is broken in exactly the way I described above.  That would be a great part of the PR you can open to fix that.

[2019-04-10 19:24] johncmunson commented on #151
@wesleytodd thank you for the feedback. I'll try to find some time later this week to clean up the example and submit a PR.

[2019-04-15 12:48] AakashGfude opened #152 "some mongodb commands dont work here which works in mongo shell"
Hi, I am not able to save the entries in a db using forEach, I am not sure if the `return` statments are correct. It works perfectly fine in mongo shell. My code is :-

[code]

Thank you

[2019-04-15 19:09] wesleytodd commented on #152
Hi @AakashGfude, nothing in this code is part of dealing with migrations.  Maybe you meant to post this in another repo? The mongoose repo maybe?

[2019-04-15 19:09] #152 closed

[2019-04-22 09:17] quex46 commented on #147
Having context in each migration would be very convenient. It is native for sequelize/knex users, gives more flexibility and helps keep migrations cleaner (without copy-pasted connect/disconnect code in each up/down).

[2019-05-07 17:14] olegk101 opened #154 "Improve documentation"
Hey,
I'd like to submit a PR with a couple of improvements to the documentation

1. It's a bit confusing that when up/down function is async the next callback shouldn't be called
2. Can we add --migrations-dir to the cli api documentation to allow passing a custom folder location?  "migrate create some-migration --migrations-dir custom-folder/migrations"

[2019-05-07 17:23] wesleytodd commented on #154
That would be awesome!! When you open it feel free to close this.

For the migrations dir, it is in the cli docs:

https://github.com/tj/node-migrate/blob/master/bin/migrate-create#L15

Where is it missing?

[2019-05-07 17:29] olegk101 commented on #154
Ah, I couldn't find.
Do you mind if I add this part to README.md?

[2019-05-07 17:30] wesleytodd commented on #154
Yes please :)

[2019-05-12 10:18] #154 closed

[2019-05-21 03:49] hdon opened #156 "`migrate up foo` migrates all the way up"
If you name the migration you want to migrate up to, but it doesn't exist, `migrate up foo` will migrate all the way up:

[code]

[2019-05-21 04:00] hdon opened #157 "`migrate foo` invalid command is not an error"
Giving `migrate` an invalid command does not issue an error and exits normally:

[code]

Note: `migrate make first_migration` is not a valid `migrate` command.

[2019-05-21 16:13] wesleytodd commented on #157
Hi @hdon, `make` is not a command in this tool.  To see how it works I suggest using `migrate --help`.  Good luck!

[2019-05-21 16:15] wesleytodd commented on #156
Interesting, yes it would migrate all the way up.  I am not sure what I would expect it to do, but probably not that.  First off I feel like it should error an exit, but I would want to think on it a little before we make any decision.  If you open a PR to change this behavior it would give a good start to the conversaiton.

[2019-05-21 20:36] LinusU commented on #157
@wesleytodd I think that the issue was that `migrate` didn't raise an error, and exited with a `0` status code, instead of raising an error and setting a failure status code :relaxed:

Opening for now, but feel free to close if I'm wrong 🐎

[2019-05-21 20:36] LinusU commented on #156
My first thought as well :+1:

[2019-05-21 21:04] wesleytodd commented on #157
Right, but this is related to the other issue, because what it is running is the "default" command `up`, but `make` is not a valid migration.  So because previously that was not an error case it would not exit with an error code.

That being said, I am not sure we have good test coverage of exit codes, so that might be a good area to look at.

[2019-05-22 02:25] hdon commented on #157
@LinusU is correct.

I chose the example of "make" because it's the exact mistake I made to discover the confusing behavior.

@wesleytodd so in addition to not erroring, it also migrated all the way up? :scream:

[2019-05-22 03:12] hdon opened #158 "Promise rejections are ignored"
[code]

[2019-05-22 16:09] wesleytodd commented on #157
Yeah, so the fix is to error when you try to run with a migration name which does not exist.  We can close this in favor of the other one, because it is really the same issue.

[2019-05-22 16:09] #157 closed

[2019-05-22 16:21] wesleytodd commented on #158
Yep, I want to refactor the logging.  The original way was preserved mostly intact for the 1.0 release, and I think that was a mistake.  Maybe I can set aside some time soon to put together a 2.0 to change the logging.  I will leave this open until we can resolve that.

[2019-05-23 05:58] hdon commented on #157
Yeah, that would be better. Though IMHO it's better for tools to ask you to be more explicit. I think defaulting to "up" is not really saving anyone any effort but some will get tripped up by the automatic "up" behavior.

[2019-05-23 14:05] wesleytodd commented on #157
@hdon I agree, maybe we should also change that behavior.  That was also the pre-1.0 behavior.  Want to open a new issue to make that recommendation?

[2019-06-02 04:41] wesleytodd commented on #156
@hdon, are you planning on opening PRs for these issues you opened?

[2019-06-02 04:42] wesleytodd commented on #151
@johncmunson did you ever have time to take a look at this?

[2019-06-02 04:43] wesleytodd commented on #142
@stalniy have you had time to look at this?

[2019-06-02 04:49] wesleytodd commented on #139
@tj Would you be interested in giving me ownership of this repo?  It has been a few years and I have been maintaining it here just fine, but without ownership I cannot enable travis.  If you don't plan on participating in the maintenance moving forward it would be great if I could take over full ownership.

[2019-06-03 05:19] stalniy commented on #142
Sorry, I didn’t have time. Also I switched to sequelize cli, so it’s not an issue for me anymore

[2019-06-03 16:38] wesleytodd commented on #142
Ok, thanks.  I will make the update myself then.

[2019-06-11 11:40] vuhrmeister opened #159 "Better error logging"
I'm writing my own store class. Inside `save` or `load` on exceptions I call `fn(error)`. But if `error` is a plain Object then only this is being logged.

[code]

The problem is, that the error is logged as a string: https://github.com/tj/node-migrate/blob/master/lib/log.js#L9

I would rather change it to something like this, thus making it more general:

[code]

[2019-06-11 16:15] wesleytodd commented on #159
Hi @vuhrmeister, while I agree the logging is not great, I don't think we will change this until the next major.  When we do that, I plan on having a whole lot more robust solution for logging.  In the mean time, why not log an error instance?  That way your error message would be logged properly.

[2019-06-11 16:47] wesleytodd opened #160 "Drop callback support in v2"
I am starting work on what will hopefully be v2 of this module.  One of the breaking changes I was thinking of making is to drop the callback interface for migration `up`/`down` functions and other exposed api's.  What do people think of this? Acceptable?

The benefits are:

- reduced code and documentation complexity
- promote use of `async`/`await` which is a better paradigm
- has full support i

[2019-06-12 05:31] vuhrmeister commented on #159
Well, I can do that. It's just that the api I'm using is only returning an Object as error So I would always need to wrap it. Not the prettiest code then.

[2019-06-12 08:59] LinusU commented on #160
I'm 100% for this 👍

[2019-06-12 09:26] vuhrmeister commented on #159
btw: just wrapping an object with an `Error` doesn't change anything. A standard error also just excepts a string and prints `Error: [object Object]` otherwise. The only additional information I get is the stack trace.

[2019-06-12 16:54] wesleytodd commented on #159
Hey, I mean an object is not an error.  I am not sure this lib can solve this problem for you, and even my future logging efforts will require it to be a real `Error` instance.  I am guessing your object has some message in it, so something like `new Error(obj.message)` would do the trick.  Good luck.

[2019-08-04 14:16] krishna-atkalikar commented on #151
I ran into same problem of Store is not a constructor, stacktrace below:

[code]

What is the solution to this problem? I have used the code from examples directory to change it to mongodb.

[2019-08-05 16:00] wesleytodd commented on #151
@krishna-atkalikar, the answer is above:

It is just the example which is wrong.  I would be happy to accept a PR fixing the example.

[2019-08-06 09:40] krishna-atkalikar commented on #151
created PR https://github.com/tj/node-migrate/pull/162

[2019-08-06 17:00] wesleytodd commented on #151
@krishna-atkalikar, it looks like the PR you opened is a new example.  Which is great!  But just so others who might land here know, the existing example with `pg` is still wrong, and a PR to fix that would still be great.

[2019-08-07 11:18] krishna-atkalikar commented on #151
@wesleytodd I'll try to fix the issue with `pg` example.

[2019-08-09 05:36] SulaimanAlabbar opened #163 "node hangs up a for a moment after migrations"
Here's a function I'm using to reset my database, for tests.

[code]
Hangs up for ten seconds after finishing its work:
![Peek 2019-08-09 08-25](https://user-images.githubusercontent.com/43919657/62756297-d80f3900-ba7f-11e9-9758-06aad4e52127.gif)

Since this is way too slow, I'm using this instead:

[code]

Which is acceptable for now, but won't be when I have more tests.

It's not that my databas

[2019-08-09 16:20] wesleytodd commented on #163
I am a bit confused by this report.  Are saying that it closes quickly when you run as a sub process but not when you run it directly in the main process?

In order to debug this I would probably need more context.  What is calling this method? What do your migrations do? My mostly likely idea would be a database connection not being released, and then having its keep alive timeout hit.  But that

[2019-08-10 00:44] SulaimanAlabbar commented on #163
Made a simple repo that shows what I mean.
https://github.com/SulaimanAlabbar/migrations-test

This is what happens when I run this script "npm run reset-db":
![Peek 2019-08-10 03-43](https://user-images.githubusercontent.com/43919657/62815390-1577d300-bb21-11e9-9c71-80c70621115f.gif)

[2019-08-10 05:01] wesleytodd commented on #163
https://node-postgres.com/api/pool#pool.end

You need to call `pool.end`.  I am pretty sure this is not related to migrate.  If you can provide a more simple and clear test case which proves it is related to this package feel free to re-open this issue.

[2019-08-10 05:01] #163 closed

[2019-10-22 15:14] killmenot commented on #127
Redis state store (Inspired by @qqilihq work)
https://www.npmjs.com/package/migrate-state-store-redis

[2019-11-04 17:44] ethan-t-williams opened #164 "Generalized question about /lib/load-migrations.js"
This was the best way I knew to ask a question..

Is the use case of the /lib/load-migrations.js module for when you have migrations to run but may not have had the availability to 'migrate create xyz' each time you wrote a migration?
I.E. devs create individual migrations and load them into root dir, then migrate is executed at time of build, without need to 'migrate create, migrate' before the a

[2019-11-04 17:51] ethan-t-williams commented on #164
@wesleytodd @tj

[2019-11-04 18:03] wesleytodd commented on #164
Hey @ethan-t-williams,

I am not completely sure I understand your question, but internally the code in `load-migrations.js` is what creates a `Set` from the files on the filesystem.  It sounds to me like you want to create a `Set` by your own logic and then use it instead of one "loaded from a migrations dir".  With the current version this is not very straight forward, but can be done.

I have b

[2019-11-04 18:50] ethan-t-williams commented on #164
By `Set `you mean, set of migrations?

I will definitely look into that.

[2019-11-04 18:58] wesleytodd commented on #164
Yep: https://github.com/tj/node-migrate/blob/master/lib/set.js

Here it is in use with `load-migrations`: https://github.com/tj/node-migrate/blob/master/index.js#L51-L62

[2019-11-04 19:23] ethan-t-williams commented on #164
Got it! So in order to utilize that utility, I can employ the load method to take in single mongo functions from individual files. Then I can store state to check on within a stateStorage file.

Has there been any video content showing the setup of this made thus far? To you knowledge that is. Or configuration guides in text form.

[2019-11-04 19:28] wesleytodd commented on #164
No good docs on this, no.  I plan on spending some time with the new major to do this, and video docs are a great idea.  Again I am not sure what you are saying you want to do, but yes you can store your state in mongo if that is what you want.

[2019-11-04 20:31] ethan-t-williams commented on #164
Regardless if I can get this working for my current use case or not, I would enjoy working with you to produce such. I think this is a very worthwhile tool you have here and I would like to make whatever impact I can with it.

[2019-11-04 21:01] ethan-t-williams commented on #164
Basically I want a directory to allow mongo script(.js) files to be dropped into it (each file performs a single migration action on the DB). I want these files to be able to be sent to another function (via zip file and through a build process) and ran from the directory, through that external build function. And I want the state of each migration on the DB to be kept in a migrations collection.

[2019-11-04 22:17] wesleytodd commented on #164
Ok, you should be able to do this with the current version by creating your own `Set`.  All that a migration needs is an `up` and `down` method, and then to call `set.addMigration`.  You can write your own script to do this after reading your directory of migration scripts (from any source you choose).  Then you can just use a mongo based state store ([see examples](https://github.com/tj/node-migr

[2019-11-05 17:57] ethan-t-williams commented on #164
Yes I believe so. I am looking at the #162 example. I am a little lost but I think I will find my answers the more I dig. Thank you so very much.

[2019-11-05 17:58] #164 closed

[2019-11-12 19:57] ethan-t-williams commented on #164
Do you have a reference as to how you would call the set.addMigration that you referenced above?

[2019-11-13 01:44] wesleytodd commented on #164
`set.addMigration(new Migration(title, up, down))`

[2019-11-14 18:56] ethan-t-williams commented on #164
If I have:

`migrate.load({
    stateStore: customStateStorage
    migrationsDirectory: "migrations/"
}, function (err, set) {
  fs.readdir(migrationsDir, (err, files) => {
    files.forEach(file => {
      set.addMigration(new Migration(file, up, down))
    });
  });
  if (err) {
    throw err
  }
  set.up(function (err) {
    if (err) {
      throw err
    }
    console.log('migrations successfu

[2019-11-15 17:00] wesleytodd commented on #164
Hey @ethan-t-williams, maybe you should post on stack overflow?  This isnt really a support channel, and on SO you might get more eyes on your issue.  That said, you should be able to figure out what you need to by looking around in this repo, we do what you are asking about.  Good luck!

[2019-11-15 20:25] zebulonj commented on #147
I find myself looking for something similar, but for a different use case. I already use a wrapper of the JS API, to manage initialization and teardown or the database connections, but I have a need to move beyond the database singleton that I'm currently importing into each migration. What I'd _like_ to be able to do is pass a context to `Set::up()`, as in...

[code]
...and have that context inje

[2019-11-15 21:35] wesleytodd commented on #147
I think that this feature will be in the next major version.  The api for it will probably not be what you show here as it would be optional and not be passed via the arguments to `up`/`down`.  But the idea of having a "context" which is accessible in the migrations will for sure be there.

[2019-11-15 22:41] zebulonj commented on #147
@wesleytodd You have any sense of when that next major version will drop? Anything I can do to help move it forward?

I'm looking in the code and was noodling on the idea of passing that context as the `this` to the up/down implementations...
[code]

I'm not vested in any particular interface, but that might allow if to be a non-breaking change.

[2019-11-15 23:08] wesleytodd commented on #147
@zebulonj, there might be ways we can start working together.  I was working on it pretty regularly for a bit, but I have had some changes at work and in my OSS commitments which have taken precedence.  The first thing you might take a look at is the progress here: https://github.com/migratejs

Right after I post this I will also go and create a `discussions` repo over there to have a place to dis

[2019-11-21 11:45] JamesZEMOURI opened #165 "foreign key invalid sql syntax"
[code]

give me :

[code]

should be  :

[code]

[2019-11-23 00:35] wesleytodd commented on #165
Hi @JamesZEMOURI, this library does not have any particular support for a type of database or library to access it, so my guess is that you are using some other ORM library along with `migrate`.  I would figure out which that is and post this question on that repo.  good luck!

[2019-11-23 00:35] #165 closed

[2020-01-13 19:30] ethanwllms opened #166 "Error connecting to DB with SSL"
I am attempting to connect to a DB with an ssl cert requirement.
Has anyone ever dealt with this and found success in it?

I am assuming that mongoose will need to be passed in containing the pemloc and other feature sets.

[2020-01-14 00:58] wesleytodd commented on #166
Hi @ethanwllms, I hope you can get the help you need on your project.  Unfortunately, this is not really a good place to get that help 😄.  This issue tracker is specifically for work pertaining to the `migrate` tool or related bugs/feature work.  I would suggest you try stack overflow, or the docs/issue tracker of whichever database driver you are using.  Good luck!

[2020-01-14 00:58] #166 closed

[2020-01-24 13:09] Veetaha opened #167 "How to debug migrations?"
`migrate` cli application spawns a new process where the migration is run. This means we cannot easily debug our migrations, since debugger only attaches to CLI process and doesn't step into child process.

Can you please fix this?

You can go without creating child processes or add a flag for debugging.

[2020-01-25 05:15] wesleytodd commented on #167
Migrate uses `commander` at the moment for this.  I had some other issues related to the way commander handles it's child processes  for sub commands and began the move off to yargs, which handles this much better.  I have just not had time to finish it.  I would love a PR which fixed this in commander or here (circumventing the commander behavior), which we could use, but I cannot promise working

[2020-02-11 02:30] ceciliazcx opened #168 "TypeError: Store is not a constructor ERROR"
Hi here,
First, I already read all the issue related with this Error. But no luck to fix it.

I wrote code with typescript. `migrate create` and `migrate up/down` with default state local save work fine.
When I tried to custom state file. I got the error as following:

The command I use is as following:

`migrate up --compiler=ts: ./migrations/ts-compiler.js --store=./migrations/db-store.ts `

db-

[2020-02-12 00:21] ceciliazcx commented on #151
@johncmunson @krishna-atkalikar
Hi here, I got the exactly same problem as you two. Could I know any luck you got this issue fixed?

[2020-02-12 00:34] wesleytodd commented on #151
Hi @ceciliazcx, the discussion above has your answer.  The example is wrong and the object is not a constructor.  Feel free to submit a PR which changes it.

[2020-02-12 01:46] ceciliazcx commented on #151
@wesleytodd
Thanks for your reply. I am not sure we are at same page. in my own code, I do have constructor inside store. but I still get the error. If you know how to fix the error. Do you mind simply let me know? I have stuck here for a while.

[code]

[2020-02-13 00:34] #168 closed

[2020-02-13 00:38] ceciliazcx opened #169 "Possible to retry migrate up?"
when error or other situation, is there anyway to retry migrate?

[2020-02-15 06:23] wesleytodd commented on #151
[code]

Should be

[code]

[2020-02-15 06:30] wesleytodd commented on #168
Hey, I didnt see this before, but @ceciliazcx with this code your export will be on `default`.  I would recommend not using ES Modules for this, there is no way to get it to work with today's implementation which requires the only export to be a function.

[2020-02-15 06:51] wesleytodd commented on #169
Via the cli the answer would be to re-run `$ migrate up`.  I assume by asking this you are looking for it to re-try on it's own.  Can you write more about your use case?  Is there a case where a migration can intentionally fail sometimes?  For my usecases this would be a sign of a bug or serious issue, but maybe I am missing context about your usage.

[2020-02-15 21:30] viniblima opened #170 "Problem to find module"
When I import from node_modules, show the error "Could not find a declaration file for module 'migrate"

[2020-02-15 23:41] wesleytodd commented on #170
"Declaration file" sounds like TypeScript.  Guessing that is because this module is not typed.  You might want to post some logs and information about your setup to be sure.  If it is TS and you want to submit types please open a PR.

[2020-02-16 01:02] viniblima commented on #170
its a simple "const migrate = require('migrate');"

[2020-02-16 01:03] viniblima commented on #170
I already installed migrate with "npm i migrate" and "npm i --save migrate";

[2020-02-16 01:05] wesleytodd commented on #170
Post a repo or show your actual log output. I cannot help otherwise.

[2020-02-16 01:08] viniblima commented on #170
https://github.com/viniblima/ecommerce-admin-express/blob/master/bin/migrate.js

[2020-02-16 01:14] wesleytodd commented on #170
Nothing obviously wrong with this implementation. Post logs and instructions to reproduce

[2020-02-16 01:16] viniblima commented on #170
internal/modules/cjs/loader.js:638
    throw err;
    ^

Error: Cannot find module 'migrate'
    at Function.Module._resolveFilename (internal/modules/cjs/loader.js:636:15)
    at Function.Module._load (internal/modules/cjs/loader.js:562:25)
    at Module.require (internal/modules/cjs/loader.js:692:17)
    at require (internal/modules/cjs/helpers.js:25:18)
    at Object.<anonymous> (/app/bin/migra

[2020-02-16 01:18] wesleytodd commented on #170
This says you do not have the module installed.  Run npm install

[2020-02-16 01:22] viniblima commented on #170
the error was ond docker, sorry

[2020-02-16 01:22] #170 closed

[2020-02-20 11:13] msanguineti commented on #151
@wesleytodd if you are using typescript, do this:
[code]
Then you can have a file somewhere to call programmatically `migrate` with your store

[code]

If you keep the store and the runner separated you can then also use the store from the `cli` with a ts compiler (or use the compiled one :))

[2020-03-24 18:05] xfg opened #172 "Migration down does not work correctly"
Hello. I created [the test repo](https://github.com/xfg/node-migrate-test/tree/master/migrations) on which I am testing the current library.

I run `migrate up` command and get next output

[code]

Everything works as it should but now I run `migrate down 1585061705214-2` and get

[code]
It is not right since the `1585061705214-2` migration should have rolled back too based on this quote from the

[2020-03-31 21:31] mkovel commented on #145
@gustavopch  Unfortunately --matches  logic was implemented base on **minimatch** and do not support full Regexp only glob and this  example does not work
If i wrong, please let me know.

[2020-04-02 21:16] punund opened #174 "no .migrate file"
[code]
`runQuery` returns a promise. Migration works, but no `.migrate` file is created.

[2020-04-02 21:27] punund commented on #174
My bad.  This functions calls `process.exit` 🤦‍♂️

[2020-04-02 21:27] #174 closed

[2020-04-08 05:28] wesleytodd commented on #172
Hey @xfg, would you be willing to make a test case for this behavior as a PR?  I believe the report, just would make it easier to fix quickly if there was a test written.

[2020-05-28 03:15] rjhilgefort commented on #151
@msanguineti Thanks for the TS tip, it put me on the right path and saved me some time with that export! I have some TS types for this lib that I'll try to remember to PR into definitely typed at some point if you're interested.

[2020-06-10 03:46] wesleytodd commented on #151
Hey @rjhilgefort, you might consider PRing them here.  I would be happy to put together a release which contained the types if it had some tests around their validity.  That way we can own them and not rely on DT updating them as we make changes.

[2020-06-10 04:39] rjhilgefort commented on #151
Sounds good! They're very much still a WIP, but I'll try to formalize them into a PR once I finish implementing the migration work for the project I'm working on. In the mean time, here's what I have so far- I'm building as I go:

`migrate.d.ts`
[code]

[2020-06-24 08:19] vlindhol opened #175 "migrate create -g can't be a relative path"
I am trying to create my own template generator as per the documentation.

[code]

The problem is that the library takes the argument to `-g` and passes it directly into `require`, and `require` doesn't respect `chdir` etc, meaning that a relative path is relative to the source file we are currently in. This is probably never something we want.

This is a trivial fix, will make a pull request.

[2020-06-24 08:29] vlindhol commented on #175
Went to fix this and turns out it has been fixed in the code (the `require` is wrapped in a try/catch), but the latest release (1.6.2) doesn't incorporate it! Can a new release be made?

[2020-06-29 17:21] wesleytodd opened #176 "Migrate to `main`"
@tj I need you to add me as owner on this.  I just pushed a release which rebases a bunch of things onto `main`.  I need to be an owner in order to change the default branch.

[2020-06-29 17:22] wesleytodd commented on #175
Fixed in `1.7.0`

[2020-06-29 17:22] #175 closed

[2020-07-03 12:57] monooso commented on #145
@gustavopch / @mkovel The `--matches` flag will suffice if you place all of your "helper" files in a sub-directory. For example:

[code]

[2020-07-10 09:33] palmerabollo opened #177 "Missing tag 1.7.0"
Hi. I see there is a migrate:1.7.0 on npm, but there is no associated tag in this repo? Would it be possible to add it? Thanks!

[2020-07-23 17:51] wesleytodd commented on #177
Tag pushed!  I typically have that push automated, but it is not on this project so I forgot, sorry.

[2020-07-23 17:51] #177 closed

[2020-07-23 17:51] wesleytodd commented on #176
@tj Can you help me out here?

[2020-07-23 17:58] tj commented on #176
hmm I don't see anywhere in the UI to give more permissions, maybe because it's not in an org, but I updated the default branch to main

[2020-07-23 18:01] wesleytodd commented on #176
There was one other reason I thought I needed owner, but I can't remember anymore.  But yeah, I went and dug around for it but couldn't find it either.  Would you be willing to move the repo into a new org?  I registered `@migratejs` where I was working on some new stuff for this.  We could move it there.

https://github.com/migratejs

[2020-07-23 18:03] wesleytodd commented on #176
I sent you an invite to that org, if you want to move it I think you should be able to accept the invite and move it.  I could obviously just do it with a git push, but I think you can actually move it with all the issues and PRs intact.

[2020-07-23 20:59] tj commented on #176
cool yea I'll try and remember to do that in the next few weeks, busy moving to a new place at the moment!

[2020-07-23 21:23] wesleytodd commented on #176
No rush! I haven't been able to work on this in a while anyway.  And I understand moving, I just moved into an RV and it was *the worst*, so take your time, whenever you get to it!

[2020-07-23 21:23] #176 closed

[2020-08-18 14:13] mkovel commented on #145
good point. tnx

[2020-09-08 23:24] georgeben opened #179 "Use with ES6 modules"
I have installed babel-register. However, when I run
`migrate up --compiler="js:babel-register"`
I get the error:
[code]
Please what am I doing wrong? I would appreciate any help. Thanks for this package @tj

[2020-09-09 18:56] davestimpert commented on #147
As a workaround, you can add a filter function like this:

filterFunction: (file) => {
      require(`${migrationsDirectory}/${file}`).addContext({ db })
      return file
    }

And then require that each of your migrations has an addContext function which sets state in the module.

[2020-09-18 16:57] wesleytodd commented on #179
Hm, well I am not sure this has to do with ESM, the `register-compiler` cannot find the package.  I would need more info to help debug, do you have a repo I could look at?

[2020-10-27 19:10] kylehayes opened #182 "Since the new `main` branch exists, might be useful to remove the `master` branch"
I was initially confused when installing from the master branch why the `index.d.ts` file didn't exist. I realized it was because this repo is using the new `main` branch name but `master` is still available.

[2020-12-03 08:41] g14a opened #183 "Why does a custom store need an `up` function?"
Hello. I'm trying to have a Mongo collection as a custom store for migrations and my store looks like below:

`custom-store.js`

[code]

And my seed file is of the type `1606969258851-add-name.js` which just has an `up` function just for testing purposes:

[code]

I'm using the command line interface and when I run
[code]

I get the following error:

[code]

My question is why does a custom store

[2020-12-07 07:30] g14a commented on #183
@tj @wesleytodd did anyone have time to look at this?

[2020-12-07 08:10] g14a commented on #183
I solved it. My custom-store file was inside the migrations directory. Sorry to bother ya'll.

[2020-12-07 08:10] #183 closed

[2021-01-06 13:53] Gisleburt opened #184 "Using yarn 2 pnp with package.json scripts cause `ENOTDIR`"
I've added migrate to my package json so that it always passes in the correct store, complier and template options¹

If I try to use it directly, eg:

[code]

When I run it with yarn 2 I get the following error

[code]

I have a work around by prefixing migrate with `npx` which then installs and runs a global version of migrate.

We're using yarn 2 with pnp, however other binaries run ok. Did I mi

[2021-01-08 17:43] wesleytodd commented on #184
I am fairly confident that this package will not work with yarn pnp.  They do some extensive overriding of node internals and this package uses some dynamic imports which IIRC will break.  I don't use `yarn` and especially not with pnp, but if you can find a fix which is backward compatible I am happy to take a PR.

[2021-01-08 17:48] wesleytodd commented on #183
Hey, sorry for the lack of response (on holiday).  Any file in the `migrations` directory is treated as a migration to run, so yes your solution works.

Another option is to use the `filterFunction` option to filter out your store file.  That can be passed as a glob pattern on the cli via the `--matches` flag.  Hope that helps.

[2021-01-08 18:04] wesleytodd commented on #182
Good call, that was an oversight on my part.  It is now deleted (better late then never).

[2021-01-08 18:04] #182 closed

[2021-01-25 04:49] Ti-webdev commented on #179
My pull request added support es6 modules without compiler
You can use es6 modules in migrations with nodejs>=v12

 https://github.com/tj/node-migrate/pull/185

[2021-01-27 15:52] palmerabollo commented on #160
@wesleytodd I'd be happy to try the v2, even if it is still "beta". Is it available somewhere? Thank you.

[2021-01-27 17:11] wesleytodd commented on #160
Hey @palmerabollo, I never finished it :(

While I have a bunch of work in https://github.com/migratejs I don't think it got back to a working state.  I do have some projects at work where I plan to use it, and thus finish that but I am not quite there yet.

[2021-04-22 16:22] qqilihq opened #186 "Release with TS typings?"
There's [TS types](https://github.com/tj/node-migrate/commit/18f5ad0af8e49d7e8e12335590b30740348f00d9) available in the `main` branch, but unfortunately not via NPM.

Could you push this to NPM?

[2021-04-24 09:54] mkovel opened #187 "Problem with migrating down"
Hi, @wesleytodd
I'm trying to create a custom SQL store for migrations, and I want to store migrations log not as one json stringified row.
I want organized it as one row - one migration.

All works fine for `up` migrations but for `down` migrations in `save` method I have problems.
I can't understand the context (`up` or `down`) of invoking `save` method.
And I see two reasons.
1. `save`  does no

[2021-05-05 22:09] mkovel commented on #187
@wesleytodd @tj  Guys what do you think?

[2021-05-27 16:29] crizzis opened #188 "Callback for finished migration"
Currently, we can use the `callback` parameter to `Set.up(...)` to perform cleanup (e.g. close DB connection).

This does not, however, cover the case when the migration has been performed using the cmdline.

It would be nice to be able to specify a 'callback' JS file for when the migration is finished (probably also for when the migration is about to start). Perhaps using the `EventEmitter` API?

[2021-07-15 21:18] luukvhoudt opened #189 "New feature: support sql files"
Because 90% of all use cases involve SQL, or at least that's my suspicion, when using a migration tool like this package provides. That's why I think it might be good addition to include an utility function what adds support for doing something based on a list of (SQL) files their content.

Currently I'm using a function in one of my projects just like that and I thought why not share it?

...

Al

[2021-10-17 22:25] TobiasUhmann opened #190 "How to specify path to migrations directory relative to source code (not working directory)?"
In my code, I run migrations programmatically via `migrate.load()`. The source file that calls `migrate.load()` lies in the project's root directory - next to the `migrations` folder. When I start the app via `npm start` from the project root directory during development everything works fine.

However, when packaging the app and running it in another directory via `npx` or running the app after h

[2022-01-10 19:21] bflemi3 opened #191 "Console.log not working in migration script"
As the title says, in my migration script, I'm just trying to print anything at this point, and nothing is making it to the console. Am I missing something, is this possible?

I've tried just throwing an Error immediately and the migration still says "migration: complete" with no other message about an exception or anything.

![Screen Shot 2022-01-10 at 2 16 20 PM](https://user-images.githubuserco

[2022-01-10 19:24] #191 closed

[2022-03-22 14:59] carnesen commented on #186
At this point a year and a half after the types were merged in this repo and a year after this issue was filed, it would appear that a new release including the types is not forthcoming. I'd say the best path forward would be to publish the type definitions as @types/migrate in [DefinitelyTyped](https://github.com/DefinitelyTyped/DefinitelyTyped) and to avoid further confusion, submit an MR to thi

[2022-03-22 17:04] wesleytodd commented on #186
I can publish. Sorry I must have missed that, IIRC I had ping'd a few other PRs in the hopes of getting them merged.  Will do it now.

[2022-03-22 17:32] wesleytodd commented on #186
ok, published and I did some of the easy dep updates while I was at it. I at least got the dep updates which removed the silly npm audit reports for old mocha (which are all not "real" in that they do not effect any test scenario).

`npm i migrate@1.8.0`

[2022-03-22 17:32] #186 closed

[2022-03-30 12:35] stackprogramer opened #192 "How we can delete old migration from NodeJS migrate?"
How we can delete old migration from NodeJS migrate?
how can I delete old migrations?
I can not any command for this operation when I delete the migration file manually I am faced with these errors...
[code]

[2022-03-31 14:08] stackprogramer commented on #192
Finally, I found the solution, in the root directory that there is a file package.json,  There is a hi
dden file .migrate , you should delete the old migration file from the migration folder and file .migrate from root directory...

`sp@sp:~/Documents/express$ ls -a
 .    index.js  '.migrate (copy)'   node_modules   package-lock.json
 ..   .migrate   migrations         package.json
`

Now run the

[2022-03-31 14:08] #192 closed

[2022-05-25 06:41] stackprogramer opened #193 "Mongo create collection and insert document not work with migrate file as they work with running nodejs seprately?"
Mongo create a collection and insert document not work with migrate file as they work with running nodejs separately?
I tested too shared object method, your package is not compatible mongo driver.

[code]

[2022-05-25 06:47] stackprogramer commented on #152
No, your migrate package has a problem. we too can not work with migrate alongside mongo driver.
https://github.com/tj/node-migrate/issues/193

[2022-05-25 07:14] #193 closed

[2022-05-27 14:19] LinusU commented on #193
You should call the `next` function when you are finished with the migration. As it is now you are calling `next` directly. Move the call to `next` into your callback:

[code]

[2022-07-04 19:39] luisrudge commented on #168
@wesleytodd I added a PR to make it work with default. Let me know if you need something else.